<template name="eco_sos">
	<div class="navegacion-atras">
		<i class="material-icons">arrow_back_ios</i>
	</div>
	<div class="titulo-grilla">
		<div class="contenido-titulo">
			{{#if enListado}}
			<p>ECO_Sos <small> ({{cantidad}})</small></p>
			{{#if enLogin}}
			<button class="btn" id="btn-nuevo">
				<i class="material-icons">add </i>
				<span>Nuevo</span>
			</button>
			{{/if}}
			{{else}}
			<p>
				{{#if ecosos.titulo}}{{ecosos.titulo}}{{else}}Nuevo ECO_Sos
				{{/if}}{{#if editando}}<small>(editando) </small>{{/if}}</p>
			{{#if ecoSos.esPropia}}
			{{#unless editando}}
			<button class="btn" id="btn-editar">
				<i class="material-icons">edit</i><span>Editar</span>
			</button>
			{{/unless}}
			{{/if}}
			{{/if}}
		</div>
	</div>
	<div class="carrousel modo-listado">
		<div class="grilla custom-scroll">
			<div class="contenedor-entidades contenedor-soss">
				{{#each eco_soss}}
				<div class="marco-entidad neuromorph amarillo{{#if estaPendiente}} pendiente{{/if}}"
				 		style="background-image: url({{avatar}})" id="{{_id}}">
					<div class="overlay"></div>
					<div class="tipo">
						{{traductorSOSTipos tipo}}
					</div>
					<div class="banda">
						<div class="comuna">
							<i class="material-icons">room</i>
							<span>{{comuna}}</span>
						</div>
						<div class="afectado">
							<p>Afectado:</p>
							<span>{{traductorSOSAfectados afectado}}</span>
						</div>
						<div class="problema">
							<span>{{traductorSOSProblemas problema}}</span>
							<i class="material-icons">{{icono}}</i>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="detalle custom-scroll">
			{{#if editando}}
			<div class="formulario">
				<div class="entrada">
					<span>Tipo</span><br />
					<select id="input-tipo" class="campo">
						{{#each tipos}}
						<option value="{{id}}" {{selectValor id ecoSos.tipo}}>{{etiqueta}}</option>
						{{/each}}
					</select>
				</div>
				<div class="entrada">
					<span>afectado</span>
					<select id="input-afectado" class="campo">
						{{#each afectados}}
						<option value="{{id}}" {{selectValor id ecoSos.afectado}}>{{etiqueta}}</option>
						{{/each}}
					</select>
				</div>
				<div class="entrada">
					<span>Problema</span>
					<select id="input-problema" class="campo">
						{{#each problemas}}
						<option value="{{id}}" {{selectValor id ecoSos.problema}}>{{etiqueta}}</option>
						{{/each}}
					</select>
				</div>
				<div class="entrada{{#if errores.direccion}} is-invalid{{/if}}">
					<span>Dirección</span>
					{{#if errores.direccion}}<span class="mensaje"> (*{{errores.direccion}})</span>{{/if}}
					<input id="input-direccion" class="campo" type="text" placeholder="Dirección" value="{{ecoSos.direccion}}" required="true" aria-label="Dirección">
				</div>
				<div class="entrada{{#if errores.comuna}} is-invalid{{/if}}" style="position: relative;">
					<span>Comuna</span>
					{{> inputAutocomplete settings=settingsComunas id="input-comuna" class="campo" placeholder="Comuna..." required="true" aria-label="Comuna"
					autocomplete="off" value=ecoSos.comuna}}
				</div>
				<div class="entrada{{#if errores.descripcion}} is-invalid{{/if}}">
					<span>Descripción</span>
					{{#if errores.descripcion}}<span class="mensaje"> (*{{errores.descripcion}})</span>{{/if}}
					<textarea class="campo" id="input-descripcion" type="text" value="{{ecoSos.descripcion}}" rows="4" required="true" aria-label="Descripción"></textarea>
				</div>
				<div class="entrada imagenes-picker">
					<div class="camara">
						<div class="marco-upload">
							<i class="material-icons">photo_camera</i><br />
							<p>Tomar / Arrastrar<br />fotografía</p>
							<div class="drop-texto"></div>
						</div>
						<input id="upload-image" type="file" style="display: none">
					</div>
					<div class="imagenes">
						{{#each imagenes}}
						<div class="imagen" id={{_id}}>
							<div class="marco-imagen">
								<img src="{{imagen}}">
								<div class="eliminar" id="{{_id}}">
									<i class="material-icons">clear</i>
									<span>Eliminar</span>
								</div>
							</div>
						</div>
						{{else}}
						<h3>No hay Imágenes</h3>
						{{/each}}
						<input id="upload-image" type="file" style="display: none">
					</div>
				</div>
				<div class="flex">
					<div class="neuromorph boton redondo amarillo" id="btn-cancelar">
						<i class="material-icons">clear</i>
					</div>
					<div class="neuromorph boton redondo amarillo" id="btn-guardar">
						<i class="material-icons">save</i>
					</div>
				</div>
			</div>
			{{else}}
			{{#with ecoSos}}
			<div class="presentacion">
				<div class="ultima-actividad"><i>ultimaActividad: </i>{{formatoFecha ultimaActividad 'DD/MMM/YYYY HH:mm'}}</div>
				<div class="titulo-presentacion">Imagenes</div>
				<div class="entrada imagenes-picker">
					<div class="imagenes">
						{{#each imagenes}}
						<div class="imagen" id={{_id}}>
							<div class="marco-imagen">
								<img src="{{imagen}}">
							</div>
						</div>
						{{else}}
						<h3>No hay Imágenes</h3>
						{{/each}}
					</div>
				</div>
				<div class="titulo-presentacion">Participantes</div>
				<div class="participantes">
					<div class="avatar-participante">
						<img src="/img/avatares/avatar01.png"><br />
						<span>EdUTroN</span>
						<i class="material-icons">star</i>
					</div>
					<div class="avatar-participante">
						<img src="/img/avatares/avatar02.jpg"><br />
						<span>Miriam</span>
					</div>
				</div>
				<div class="titulo-presentacion">Total en donaciones</div>
				<div class="donaciones">
					<i class="material-icons">request_quote</i>
					<div class="cantidad">
						<small>CLP </small>$ {{donaciones}}<small> M</small>
					</div>
				</div>
				<div class="titulo-presentacion">Reseña histórica</div>
				<div class="resena">
					<p>{{resena}}</p>
				</div>
				<div class="titulo-presentacion">Solicitar unirse</div>
				<div class="neuromorph boton redondo amarillo">
					<i class="material-icons">login</i>
				</div>
			</div>
			{{/with}}
			{{/if}}
		</div>
	</div>
</template>