<template name="eco_sos">
	<div class="titulo-grilla">ECO_S.O.S <small>x4</small></div>
	<div class="carrousel grilla">
		<div class="grilla">
			<div class="contenedor-sos">
				{{#each eco_sos}}
					<div class="marco-ayuda neuromorph amarillo" style="background-image: url({{imagen}})">
						<div class="overlay"></div>
						<div class="tipo">
							{{traductorSOSTipos tipo}}
						</div>
						<div class="afectado">
							{{traductorSOSAfectados afectado}}
						</div>
						<div class="problema">
							{{traductorSOSProblemas problema}}
						</div>						
						<div class="banda">
							<div class="comuna">
								<p>{{comuna}}</p>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
		<div class="detalle">
			<div class="formulario">
				<div class="entrada">
					<span>Tipo</span><br/>
					<select id="input-tipo">
						<option value="P">Propio</option>
						<option value="T">Tercero</option>
					</select>
				</div>
				<div class="entrada">
					<span>afectado</span>
					<select id="input-afectado">
						<option value="LA">Lactante</option>
						<option value="NI">Niño</option>
						<option value="JO">Jóven</option>
						<option value="AD">Adulto</option>
						<option value="AM">Adulto Mayor</option>
					</select>
				</div>
				<div class="entrada">
					<span>Problema</span>
					<select id="input-problema">
						<option value="SC">Situación de calle</option>
						<option value="DE">Delincuencia</option>
						<option value="EN">Enfermedad</option>
						<option value="OT">Otro</option>
					</select>
				</div>
				<div class="entrada">
					<span>Dirección</span>
					<input type="text" placeholder="Dirección">
				</div>
				<div class="entrada">
					<span>Comuna</span>
					<input type="text" class="autocomplete" placeholder="Comuna">
				</div>
				<div class="entrada imagenes-picker">
					<div class="camara">
						<i class="material-icons">photo_camera</i><br />
						<p>Tomar / Arrastrar<br />fotografía</p>
						<div class="drop-texto"></div>					
					</div>
					<div class="imagenes">
						{{#each imagenes}}
						<div class="imagen" id={{_id}}>
							<div class="marco-imagen">
								<img src="{{imagen}}">
								<p class="nombre" id="{{_id}}">{{link}}</p>
								<div class="eliminar" id="{{_id}}">
									<i class="material-icons">clear</i>
									<span>Eliminar</span>
								</div>
							</div>
						</div>
						{{else}}
						<h3>No hay Imágenes</h3>
						{{/each}}
					</div>
					<input type="file" id="upload-image" style="display: none;">
				</div>
				<div class="flex">
					<div class="neuromorph boton redondo amarillo">
						<i class="material-icons">clear</i>
					</div>
					<div class="neuromorph boton redondo amarillo">
						<i class="material-icons">save</i>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>