@font-face {
  font-family: BebasNeue Regular;
  font-weigth: normal;
  src: url('fonts/BabasNeue/BebasNeue-Regular.woff');
}

@font-face {
  font-family: BebasNeue Bold;
  font-weigth: bold;
  src: url('fonts/BabasNeue/BebasNeue-Bold.woff');
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: BebasNeue Regular, sans-serif;
  color: darkslategrey;
}

input[type="password"],
input[type="text"],
input[type="email"],
textarea {
  border: 2px solid #ccc;
  border-radius: 2em;  
  font-size: 20px;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
	margin-bottom: 4px;
	padding: 12px 24px 12px 24px;
	width: 100%;
}

small {
  font-size: 55%;
  color: darkgray;
}

a {
	color: skyblue;
	font-size: 11px;
}


select {
  border: 2px solid #ccc;
  border-radius: 2em;  
  font-size: 12px;
  padding: 12px 16px;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

h4 {
  font-weight: lighter;
}

.errores {
	color: orangered;
	font-size: 12px;
}

.boton {
	&.redondo {
		width: 80px;
		height: 80px;
		padding: 20px;
		margin: 1em auto;
		border-radius: 50%;

		i {
			font-size: 38px;
		}
	}
}
