.formulario {
	&.flex {
		display: flex;

		.entrada:nth-child(2) {
			margin-left: 10px;
		}
	}

	.flex {
		display: flex;

		.entrada:nth-child(1) {
			margin-right: 20px;
		}
	}

	.entrada {
		border-radius: 10px;

		&.geo {
			padding: 10px;
			width: 180px;
			height: 140px;

			.icono {
				.material-icons {
					font-size: 50px;
				}

				.share-location {
					position: relative;
					top: -10px;
					font-size: 18px;
				}

				.detalle {
					position: relative;
					top: -18px;
				}
			}
		}

		&.password {
			.barra-seguridad {
				display: flex;

				span {
					margin-left: 8px;
				}

				.segmento {
					display: block;
					width: 23px;
					height: 12px;
					margin-right: 2px;
					margin-top: 4px;
					border: 2px solid white;
					border-radius: 3px;
				}
			}
		}

		&.avatar {
				.marco-upload {
					display: block;
					position: relative;
					width: 136px;
					height: 136px;
					border: 2px solid white;
					border-radius: 6px;
					font-size: 12px;
					margin-top: 4px;
					text-align: center;
					z-index: 0;
					
					.marco-avatar {
						width: 132px;
						height: 132px;
						border-radius: 6px;
						background-size: 100% auto;
						background-position: center;
					}

					.marco-drop {
						position: absolute;
						opacity: 0;
						width: 136px;
						height: 136px;
						background-image: url(/img/drag-and-drop.png);				
						background-size: cover;					
						background-position: center;
						border-radius: 6px;
						top: 0px;
						left: 0px;
						z-index: 1;

						&.activo {
							opacity: 1;
						}
					}

					i {
						width: 45px;
						height: 45px;
						border: 2px solid white;
						border-radius: 50%;
						margin-top: 30px;
						padding-top: 2px;
						margin-bottom: 10px;
						font-size: 38px;
						color: white;
					}
				}
		}

		&.usuario-picker {
			display: inline-flex;
			width: 100%;

			.campo-entrada {
				width: 50%;
			}

			.avatar {
				width: 80px;
				padding-top: 20px;
				padding-left: 20px;

				span {
					display: inline-block;
					width: 100%;
					white-space: nowrap;
					overflow: hidden !important;
					text-overflow: ellipsis;
				}

				img {
					width: 40px;
					height: 40px;
					border-radius: 50%;
				}
			}
		}

		&.cuadrilla-picker {
			display: inline-flex;
			width: 100%;

			.campo-entrada {
				width: 50%;
			}

			.avatares {
				width: 100%;
				height: auto;
				display: flex;
				flex-wrap: wrap;

				.avatar {
					width: 80px;
					padding-top: 20px;
					padding-left: 20px;

					span {
						display: inline-block;
						width: 100%;
						white-space: nowrap;
						overflow: hidden !important;
						text-overflow: ellipsis;
					}

					img {
						width: 40px;
						height: 40px;
						border-radius: 50%;
					}
				}
			}
		}

		&.documentos-picker {
			display: inline-flex;
			width: 100%;
			margin-bottom: 12px;

			.documento {
				width: 120px;
				height: 120px;
				border: 2px solid white;
				border-radius: 8px;
				text-align: center;
				margin-right: 12px;
				
				.material-icons {
					font-size: 42px;
					margin-top: 8px;
				}
			}

			.documentos {
				display: flex;
				flex-wrap: wrap;
				
				.documento {
					width: 80px;
					padding-top: 20px;
					padding-left: 20px;

					span {
						display: inline-block;
						width: 100%;
						white-space: nowrap;
						overflow: hidden !important;
						text-overflow: ellipsis;
					}

					img {
						width: 40px;
						height: 40px;
						border-radius: 50%;
					}
				}
			}
		}
		
		&.imagenes-picker {
			display: inline-flex;
			width: 100%;
			margin-bottom: 12px;

			.camara {
				width: 120px;
				height: 120px;
				border: 2px solid white;
				border-radius: 8px;
				text-align: center;
				margin-right: 12px;
				
				.material-icons {
					font-size: 42px;
					margin-top: 8px;
				}
			}

			.imagenes {
				display: flex;
				flex-wrap: wrap;
				
				.imagen {
					width: 80px;
					padding-top: 20px;
					padding-left: 20px;

					span {
						display: inline-block;
						width: 100%;
						white-space: nowrap;
						overflow: hidden !important;
						text-overflow: ellipsis;
					}

					img {
						width: 40px;
						height: 40px;
						border-radius: 50%;
					}
				}
			}
		}
		
	}
}