<template name="eco_acciones">
  <div class="navegacion-atras">
    <i class="material-icons">arrow_back_ios</i>
  </div>
  <div class="titulo-grilla">
    <div class="contenido-titulo">
      {{#if enListado}}
      <p>ECO_Acciones <small> ({{cantidad}})</small></p>
      {{#if enLogin}}
      <button class="btn" id="btn-nuevo">
        <i class="material-icons">add</i><span>Solicitar</span>
      </button>
      {{/if}}
      {{else}}
      <p>
        {{#if ecoAccion.tipo}}{{traductorACCIONESTipos ecoAccion.tipo}}{{else}}Nueva ECO_Accion
        {{/if}}{{#if editando}}<small>(editando) </small>{{/if}}</p>
      {{#if ecoAccion.esPropia}}
      {{#unless editando}}
      <button class="btn" id="btn-editar">
        <i class="material-icons">edit</i><span>Editar</span>
      </button>
      {{/unless}}
      {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="carrousel modo-listado">
    <div class="grilla custom-scroll">
      <div class="contenedor-entidades contenedor-acciones">
        {{#each eco_acciones}}
        <div class="marco-entidad neuromorph rojo{{#if estaPendiente}} pendiente{{/if}}"
          style="background-image: url({{fondo}})" id="{{_id}}">
          <div class="overlay"></div>
          <div class="titulo">
            {{traductorACCIONESTipos tipo}}
          </div>
          <div class="banda">
            <div class="info">
              <div class="fecha">Próx.retiro: <b>{{formatoFecha fechaProximoRetiro 'DD MMM \'YY'}}</b></div>
              <div class="comuna">{{comuna}}</div>
              <div style="display: flex">
                {{#each materialesARetirar}}
                {{#if sonIguales this 'PET1'}}<i class="material-icons">recycling</i>{{/if}}
                {{#if sonIguales this 'VID'}}<i class="material-icons">liquor</i>{{/if}}
                {{#if sonIguales this 'ORG'}}<i class="material-icons">compost</i>{{/if}}
                {{#if sonIguales this 'CAR'}}<i class="material-icons">receipt_long</i>{{/if}}
                {{#if sonIguales this 'LAT'}}<img src="/img/lata.png" style="filter: invert(100%);" width="24">{{/if}}
                {{/each}}
              </div>
            </div>
          </div>
        </div>
        {{else}}
        <div class="marco-accion neuromorph rojo">
          <i class="material-icons">local_shipping</i>
          <div class="titulo">Retiro de Materiales</div>
          <p>Retira en tu comunidad o edificio<br />
            Plásticos PET1 - Material orgánico - Latas - Vidrios</p>
        </div>
        <div class="marco-accion neuromorph rojo">
          <i class="material-icons">cake</i>
          <div class="titulo">Todo tipo de Donaciones</div>
          <p>Dona al mundo que lo necesita<br />Alimentos - Dinero - Infraestructura - Dinero</p>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="detalle custom-scroll">
      {{#if editando}}
      <div class="formulario">
        <div class="flex">
          <div class="entrada">
            <span>Tipo de Accion</span>
            <br />
            <select id="input-tipo" class="campo">
              {{#each tipos}}
              <option value="{{id}}" {{selectValor id eco_accion.tipo}}>{{etiqueta}}</option>
              {{/each}}
            </select>
          </div>
          {{#if sonIguales ecoAccion.tipo 'RM'}}
          <div class="entrada{{#if errores.descripcion}} is-invalid{{/if}}">
            <span>Qué se retiraría</span>
            {{#if errores.materiales}}<span class="mensaje"> (*{{errores.materiales}})</span>{{/if}}
            <div class="entrada checkboxes">
              <ul>
                {{#each ecoAccion.materiales}}
                <li><input type="checkbox" name="materiales" value="{{id}}" checked="{{checked}}">{{etiqueta}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
          {{else}}
          <div class="subtitulo">Debes depositar a la cuenta a continuación y enviar una foto de
            comprobante o bien, el detalle de tu deposito (fecha, número deposito y banco) y tu
            depósito será revisado en un plazo de 24 horas.
          </div>
          {{/if}}
        </div>
        {{#if sonIguales ecoAccion.tipo 'RM'}}
        <div class="entrada{{#if errores.direccion}} is-invalid{{/if}}">
          <span>Dirección</span>
          {{#if errores.direccion}}<span class="mensaje"> (*{{errores.direccion}})</span>{{/if}}
          <input type="text" class="campo" id="input-direccion" placeholder="Dirección" value="{{ecoAccion.direccion}}"
            required="true" aria-label="Dirección">
        </div>
        <div class="entrada{{#if errores.comuna}} is-invalid{{/if}}" style="position: relative;">
          <span>Comuna</span>
          {{#if errores.comuna}}<span class="mensaje"> (*{{errores.comuna}})</span>{{/if}}
          {{> inputAutocomplete settings=settingsComunas id="input-comuna"
          class="campo" placeholder="Comuna..." required="true" aria-label="Comuna"
          autocomplete="off" value=ecoAccion.comuna}}
        </div>
        <div class="flex">
          <div class="entrada{{#if errores.descripcionLugar}} is-invalid{{/if}}">
            <span>Carta de solicitud</span>
            {{#if errores.carta}}<span class="mensaje"> (*{{errores.carta}})</span>{{/if}}
            <textarea class="campo" id="input-carta" rows="4" value="{{ecoAccion.carta}}" required="true"
              aria-label="Carta de solicitud"></textarea>
          </div>
        </div>
        <div class="flex">
          <div class="entrada{{#if errores.fechaInicio}} is-invalid{{/if}}" style="position: relative">
            <span>Día inicial de retiro</span>
            {{#if errores.fechaRetiro}}<span class="mensaje"> (*{{errores.fechaRetiro}})</span>{{/if}}
            <input type="text" class="campo datetime-componente" id="input-fechaRetiro"
              value="{{formatoFecha ecoAccion.fechaRetiro 'DD/MM/YYYY'}}" autocomplete="off" required="true"
              aria-label="Fecha inicial de retiro">
          </div>
          <div class="entrada{{#if errores.periodicidad}} is-invalid{{/if}}">
            <span>Periodicidad</span><br />
            {{#if errores.periodicidad}}<span class="mensaje"> (*{{errores.periodicidad}})</span>{{/if}}
            <select id="input-periodicidad" class="campo">
              {{#each tipos_periodicidad}}
              <option value="{{id}}" {{selectValor id ecoAccion.periodicidad}}>{{etiqueta}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="entrada cuadrilla-picker">
          <div class="campo-entrada" style="position: relative;">
            <span>Cuadrillas relacionadas</span>
            <br />
            {{> inputAutocomplete settings=settingsCuadrillas id="input-cuadrilla"
            placeholder="Nombre Cuadrilla..."
            autocomplete="off"}}
            <input id="input-cuadrillasId" class="campo" value="{{ecoAccion.cuadrillasId}}" style="display: none">
          </div>

          {{#each ecoAccion.cuadrillas}}
          <div class="avatar">
            <img src="{{imagen}}">
            <p>{{nombre}}</p>
            <i id="reasignar-cuadrilla" class="material-icons" cuadrillaId="{{id}}">clear</i>
          </div>
          {{/each}}

        </div>
        {{else}}
        <div class="cuadro-datos-deposito neuromorph rojo">
          <div class="linea">
            <div class="etiqueta">Banco</div>
            <div class="valor">Banco de Chile</div>
          </div>
          <div class="linea">
            <div class="etiqueta">N° Cuenta Corriente</div>
            <div class="valor">80077664723</div>
          </div>
          <div class="linea">
            <div class="etiqueta">e-mail</div>
            <div class="valor">donaciones@ecopasaporte.cl</div>
          </div>
        </div>
        <div class="formulario">
          <div class="entrada selector-radio flex">
            <input type="radio" name="tipo" value="foto" checked>Foto de comprobante
            <input type="radio" name="tipo" value="texto">Texto detalle
          </div>
          <div class="sector-tipo-comprobate neuromorph rojo">
            <div class="entrada" id="tipo-foto">
              <div class="entrada imagenes-picker">
                <div class="camara">
                  <div class="marco-upload">
                    <i class="material-icons">photo_camera</i><br />
                    <p>Tomar / Arrastrar<br />fotografía</p>
                    <div class="marco-drop"></div>
                  </div>
                  <input id="upload-image" type="file" style="display: none">
                </div>
                <div class="imagenes">
                  {{#with comprobante}}
                  <div class="imagen" id={{_id}}>
                    <div class="marco-imagen">
                      <img src="{{this}}">
                      <div class="eliminar" id="{{_id}}">
                        <i class="material-icons">clear</i>
                        <span>Eliminar</span>
                      </div>
                    </div>
                  </div>
                  {{else}}
                  <h3>No hay Comprobante</h3>
                  {{/with}}
                </div>
              </div>
            </div>
            <div class="entrada" id="tipo-texto" style="display: none">
              <span>Detalle de tu comprobante</span>
              <textarea class="campo" id="input-detalle-deposito" rows="4"></textarea>
            </div>
          </div>
        </div>
        {{/if}}
        <div class="flex">
          <div class="neuromorph boton redondo rojo" id="btn-cancelar">
            <i class="material-icons">clear</i>
          </div>
          <div class="neuromorph boton redondo rojo" id="btn-guardar">
            <i class="material-icons">save</i>
          </div>
        </div>
      </div>
      {{else}}
      {{#with ecoAccion}}
      <div class="presentacion">
        <div class="ultima-actividad">
          <i>ultimaActividad: </i>{{formatoFecha ultimaActividad 'DD/MMM/YYYY HH:mm'}}
        </div>
        <div class="overlay"></div>
        <div class="titulo">
          {{traductorACCIONESTipos tipo}}
        </div>
        <div class="titulo-presentacion">Presentacion Carta</div>
        <div class="resena">
          <p>{{ecoAccion.carta}}</p>
        </div>
        <div class="titulo-presentacion">Fecha Inicio</div>
        <div class="titulo">
          {{formatoFecha ecoAccion.fechaRetiro 'DD/MMM/YYYY'}}
        </div>
        <div class="titulo-presentacion">Periodicidad</div>
        <div class="titulo">
          {{traductorACCIONESPeriodicidad ecoAccion.periodicidad}}
        </div>
        <div class="titulo-presentacion">Participantes</div>
        <div class="participantes">
          {{#each ecoAccion.cuadrillas}}
          <div class="avatar-participante">
            <img src="{{imagen}}">
            <p>{{nombre}}</p>

          </div>
          {{/each}}
        </div>

        {{#if puedeCerrar}}
        <div class="titulo-presentacion">Cerrar campaña</div>
        <div id="btn-cerrar" class="neuromorph boton redondo azul">
          <i class="material-icons">event_busy</i>
        </div>
        {{/if}}
      </div>
      {{/with}}
      {{/if}}
    </div>
  </div>
</template>