<template name="eco_acciones">
  <div class="navegacion-atras">
    <i class="material-icons">arrow_back_ios</i>
  </div>
  <div class="titulo-grilla">
    <div class="contenido-titulo">
      {{#if enListado}}
      <p>ECO_Acciones <small> ({{cantidad}})</small></p>
      {{#if enLogin}}
      <button class="btn" id="btn-nuevo">
        <i class="material-icons">add</i><span>Solicitar</span>
      </button>
      {{/if}}
      {{else}}
      <p>
        {{#if ecoAccion.tipo}}{{traductorCAMPANASTipos ecoAccion.tipo}}{{else}}Nueva ECO_Accion
        {{/if}}{{#if editando}}<small>(editando) </small>{{/if}}</p>
      {{#if ecoAccion.esPropia}}
      {{#unless editando}}
      <button class="btn" id="btn-editar">
        <i class="material-icons">edit</i><span>Editar</span>
      </button>
      {{/unless}}
      {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="carrousel modo-listado">
    <div class="grilla custom-scroll">
      <div class="contenedor-entidades contenedor-acciones">
        {{#each eco_acciones}}
        <div class="marco-entidad neuromorph purpura{{#if estaPendiente}} pendiente{{/if}}"
          style="background-image: url({{avatar}})" id="{{_id}}">
          <div class="overlay"></div>
          <div class="titulo">
            {{traductorCAMPANASTipos tipo}}
          </div>
          <div class="banda">
            <div class="fechas">
              <div class="fechainicio">Fecha Inicio</div>
              <div class="fechai">{{formatoFecha fechaInicio 'DD/MM/YYYY'}}</div>
            </div>
            <div class="fecha">
              <div class="fechainicio">Fecha Termino</div>
              <div class="fechai">{{formatoFecha fechaFin 'DD/MM/YYYY'}}</div>
            </div>
            <div class="nomcomuna">
              <div class="comuna">Comuna</div>
              <div class="comunai">{{comuna}}</div>
            </div>
            <div class="nomorganizador">
              <div class="organizdor">Organizador</div>
              <div class="organizdori">{{organizador}}</div>
            </div>
          </div>
        </div>
        {{else}}
        <div class="marco-accion neuromorph rojo">
          <i class="material-icons">local_shipping</i>
          <div class="titulo">Retiro de Materiales</div>
          <p>Retira en tu comunidad o edificio<br />
            Plásticos PET1 - Material orgánico - Latas - Vidrios</p>
        </div>
        <div class="marco-accion neuromorph rojo">
          <i class="material-icons">cake</i>
          <div class="titulo">Todo tipo de Donaciones</div>
          <p>Dona al mundo que lo necesita<br />Alimentos - Dinero - Infraestructura - Dinero</p>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="detalle custom-scroll">
      {{#if editando}}
      <div class="formulario">
        <div class="flex">
          <div class="entrada">
            <span>Tipo de Accion</span>
            <br />
            <select id="input-tipo" class="campo">
              {{#each tipos}}
              <option value="{{id}}" {{selectValor id eco_accion.tipo}}>{{etiqueta}}</option>
              {{/each}}
            </select>
          </div>
          {{#if sonIguales ecoAccion.tipo 'RM'}}
          <div class="entrada{{#if errores.descripcion}} is-invalid{{/if}}">
            <span>Qué se retiraría</span>
            {{#if errores.materias}}<span class="mensaje"> (*{{errores.materias}})</span>{{/if}}
            <div class="entrada checkboxes">
              <ul>
                {{#each materias}}
                <li><input type="checkbox" name="materias" value="{{id}}">{{etiqueta}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
          {{else}}
          <div class="subtitulo">Debes depositar a la cuenta a continuación y enviar una foto de
            comprobante o bien, el detalle de tu deposito (fecha, número deposito y banco) y tu
            depósito será revisado en un plazo de 24 horas.
          </div>
          {{/if}}
        </div>
        {{#if sonIguales ecoAccion.tipo 'RM'}}
        <div class="entrada{{#if errores.direccion}} is-invalid{{/if}}">
          <span>Dirección</span>
          {{#if errores.direccion}}<span class="mensaje"> (*{{errores.direccion}})</span>{{/if}}
          <input type="text" class="campo" id="input-direccion" placeholder="Dirección" value="{{ecoAccion.direccion}}"
            required="true" aria-label="Dirección">
        </div>
        <div class="entrada{{#if errores.comuna}} is-invalid{{/if}}" style="position: relative;">
          <span>Comuna</span>
          {{#if errores.comuna}}<span class="mensaje"> (*{{errores.comuna}})</span>{{/if}}
          {{> inputAutocomplete settings=settingsComunas id="input-comuna"
          class="campo" placeholder="Comuna..." required="true" aria-label="Comuna"
          autocomplete="off" value=ecoAccion.comuna}}
        </div>
        <div class="flex">
          <div class="entrada{{#if errores.descripcionLugar}} is-invalid{{/if}}">
            <span>Carta de solicitud</span>
            {{#if errores.carta}}<span class="mensaje"> (*{{errores.carta}})</span>{{/if}}
            <textarea class="campo" id="input-carta" rows="4" value="{{ecoAccion.carta}}" required="true"
              aria-label="Carta de solicitud"></textarea>
          </div>
        </div>
        <div class="flex">
          <div class="entrada{{#if errores.fechaInicio}} is-invalid{{/if}}" style="position: relative">
            <span>Día inicial de retiro</span>
            {{#if errores.fechaRetiro}}<span class="mensaje"> (*{{errores.fechaRetiro}})</span>{{/if}}
            <input type="text" class="campo datetime-componente" id="input-fechaRetiro"
              value="{{formatoFecha ecoAccion.fechaRetiro 'DD/MM/YYYY'}}" autocomplete="off" required="true"
              aria-label="Fecha inicial de retiro">
          </div>
          <div class="entrada{{#if errores.periodicidad}} is-invalid{{/if}}">
            <span>Periodicidad</span><br />
            {{#if errores.periodicidad}}<span class="mensaje"> (*{{errores.periodicidad}})</span>{{/if}}
            <select id="input-periodicidad">
              <option>Seleccione uno</option>
              <option id="S">Semanal</option>
              <option id="Q">Quincenal</option>
              <option id="M">Mensual</option>
            </select>
          </div>
        </div>
        <div class="entrada cuadrilla-picker">
          <div class="campo-entrada" style="position: relative;">
            <span>Cuadrillas relacionadas</span>
            <br />
            {{> inputAutocomplete settings=settingsCuadrillas id="input-cuadrilla"
            placeholder="Nombre Cuadrilla..."
            autocomplete="off"}}
            <input id="input-cuadrillasId" class="campo" value="{{ecoAccion.cuadrillasId}}" style="display: none">
          </div>
          {{#each ecoAccion.cuadrillas}}
          <div class="avatar">
            <img src="{{imagen}}">
            <p>{{nombre}}</p>
            <i id="reasignar-cuadrilla" class="material-icons" cuadrillaId="{{id}}">clear</i>
          </div>
          {{/each}}
        </div>
        {{else}}
        <div class="cuadro-datos-deposito neuromorph rojo">
          <div class="linea">
            <div class="etiqueta">Banco</div>
            <div class="valor">Banco de Chile</div>
          </div>
          <div class="linea">
            <div class="etiqueta">N° Cuenta Corriente</div>
            <div class="valor">80077664723</div>
          </div>
          <div class="linea">
            <div class="etiqueta">e-mail</div>
            <div class="valor">donaciones@ecopasaporte.cl</div>
          </div>
        </div>
        <div class="formulario">
          <div class="entrada selector-radio flex">
            <input type="radio" name="tipo" value="foto" checked>Foto de comprobante
            <input type="radio" name="tipo" value="texto">Texto detalle
          </div>
          <div class="sector-tipo-comprobate neuromorph rojo">
            <div class="entrada" id="tipo-foto">
              <div class="entrada imagenes-picker">
                <div class="camara">
                  <div class="marco-upload">
                    <i class="material-icons">photo_camera</i><br />
                    <p>Tomar / Arrastrar<br />fotografía</p>
                    <div class="marco-drop"></div>
                  </div>
                  <input id="upload-image" type="file" style="display: none">
                </div>
                <div class="imagenes">
                  {{#with comprobante}}
                  <div class="imagen" id={{_id}}>
                    <div class="marco-imagen">
                      <img src="{{this}}">
                      <div class="eliminar" id="{{_id}}">
                        <i class="material-icons">clear</i>
                        <span>Eliminar</span>
                      </div>
                    </div>
                  </div>
                  {{else}}
                  <h3>No hay Comprobante</h3>
                  {{/with}}
                </div>
              </div>
            </div>
            <div class="entrada" id="tipo-texto" style="display: none">
              <span>Detalle de tu comprobante</span>
              <textarea class="campo" id="input-detalle-deposito" rows="4"></textarea>
            </div>
          </div>
        </div>
        {{/if}}
        <div class="flex">
          <div class="neuromorph boton redondo rojo" id="btn-cancelar">
            <i class="material-icons">clear</i>
          </div>
          <div class="neuromorph boton redondo rojo" id="btn-guardar">
            <i class="material-icons">save</i>
          </div>
        </div>
      </div>
      {{else}}
      {{#with ecoAccion}}
      <div class="presentacion">
        <div class="ultima-actividad">
          <i>ultimaActividad: </i>{{formatoFecha ultimaActividad 'DD/MMM/YYYY HH:mm'}}
        </div>
        <div class="titulo-presentacion">Reseña histórica</div>
        <div class="resena">
          <p>{{ecoAccion.descripcion}}</p>
        </div>
        <div class="titulo-presentacion">Participantes</div>
        <div class="participantes">
          <div class="participantes">
            {{#each participantes}}
            <div class="avatar-participante{{#if noParticipa}} no-participa{{/if}}" id="{{participanteId}}">
              {{#if imagen}}
              <img src="{{imagen}}">
              {{else}}
              <div class="no-imagen">{{iniciales}}</div>
              {{/if}}
              <span>{{nombre}}</span>
              {{#if cerrada}}
              {{#if sinRegistro}}
              <div class="btn-si{{#if siParticipa}} activo{{/if}}">
                <i class="material-icons">check_circle_outline</i>
              </div>
              <div class="btn-no">
                <i class="material-icons">remove_circle_outline</i>
              </div>
              {{/if}}
              {{/if}}
            </div>
            {{/each}}
          </div>
        </div>
        <div class="titulo-presentacion">Puntos reunidos</div>
        <div class="puntos">
          <i class="material-icons">favorite</i>
          <div class="cantidad">
            {{puntos}}<small> puntos</small>
          </div>
        </div>
        {{#unless participa}}
        <div class="titulo-presentacion">Solicitar unirse</div>
        <div id="btn-unirse" class="neuromorph boton redondo azul">
          <i class="material-icons">login</i>
        </div>
        {{/unless}}
        {{#if puedeCerrar}}
        <div class="titulo-presentacion">Cerrar campaña</div>
        <div id="btn-cerrar" class="neuromorph boton redondo azul">
          <i class="material-icons">event_busy</i>
        </div>
        {{/if}}
      </div>
      {{/with}}
      {{/if}}
    </div>
  </div>
</template>