<template name="mundoCorazones">
  <div class="marco-info">
    <div class="info-ecodimensiones">
      <div class="cuadro-indicador neuromorph rojo">
        <p class="valor">10</p>
        <i class="material-icons">share</i>
        <span class="titulo">ECO-Organizaciones</span>
      </div>
      <div class="cuadro-indicador neuromorph rojo">
        <p class="valor">10</p>
        <i class="material-icons">campaign</i>
        <span class="titulo">ECO-Campañas</span>
      </div>
      <div class="cuadro-indicador neuromorph rojo">
        <p class="valor">10</p>
        <i class="material-icons">architecture</i>
        <span class="titulo">ECO-Desarrollos</span>
      </div>
      <div class="cuadro-indicador neuromorph rojo">
        <p class="valor">10</p>
        <i class="material-icons">support</i>
        <span class="titulo">ECO-S.O.S.</span>
      </div>
      <div class="cuadro-indicador neuromorph rojo">
        <p class="valor">10</p>
        <i class="material-icons">attach_money</i>
        <span class="titulo">Donaciones</span>
      </div>
      <div class="cuadro-indicador neuromorph rojo">
        <p class="valor">10</p>
        <i class="material-icons">groups</i>
        <span class="titulo">Impactados</span>
      </div>
    </div>
  </div>
</template>