.marco-info {
  width: 100%;
  height: calc(100% - 3em);
  margin-top: 3em;
  overflow-y: scroll;
  .info-ecodimensiones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .cuadro-indicador {
      position: relative;
      display: block;
      width: 240px;
      height: 180px;
      border-radius: 10px;
      margin: 1em;
      padding: 0 1em;
      text-align: center;

      .valor {
        position: relative;
        top: -12px;
        font-family: ArcadeClasic;
        font-size: 80px;
      }
      .material-icons {
        position: relative;
        margin-top: -46px;
        font-size: 60px;
        width: 100%;
      }
      .titulo {
        width: 100%;
      }
    }

    .cuadro-grafico {
      padding: .5em;
      margin: 2em;
      width: 100%;
      height: 100vh;
      text-align: center;
      .titulo {
        font-size: xx-large;
      }
      .subtitulo {
        margin-top: -15px;
        font-size: small;
      }
      .legenda {
        display: inline-flex;
        li {
          display: flex;
          margin-right: 2em;
          .marca {
            display: block;
            width: 16px;
            height: 8px;
            margin: 0.3em;
          }
        }
        li:nth-child(1) .marca {
          background-color: steelblue;
        }
        li:nth-child(2) .marca {
          background-color: yellow;
        }
        li:nth-child(3) .marca {
          background-color: limegreen;
        }
      }
    }
  }
}