<template name="mundocorazones">
  <div class="marco-info custom-scroll">
    <div class="info-ecodimensiones">
      <div class="cuadro-indicador neuromorph rojo">
        <p class="valor">{{stats.ecoOrganizaciones}}</p>
        <i class="material-icons">share</i>
        <span class="titulo">ECO-Organizaciones</span>
      </div>
      <div class="cuadro-indicador neuromorph rojo">
        <p class="valor">{{stats.ecoCampanas}}</p>
        <i class="material-icons">campaign</i>
        <span class="titulo">ECO-Campañas</span>
      </div>
      <div class="cuadro-indicador neuromorph rojo">
        <p class="valor">{{stats.ecoDesarrollos}}</p>
        <i class="material-icons">architecture</i>
        <span class="titulo">ECO-Desarrollos</span>
      </div>
      <div class="cuadro-indicador neuromorph rojo">
        <p class="valor">{{stats.ecoSos}}</p>
        <i class="material-icons">support</i>
        <span class="titulo">ECO-S.O.S.</span>
      </div>
      <div class="cuadro-indicador neuromorph rojo">
        <p class="valor">{{stats.impactados}}</p>
        <i class="material-icons">groups</i>
        <span class="titulo">Impactados</span>
      </div>
      <div class="cuadro-grafico neuromorph rojo">
        <p class="titulo">Toneladas recicladas</p>
        <p class="subtitulo">Por mes entre tres categorías</p>
        <ul class="legenda">
          <li>
            <div class="marca"></div> Compost
          </li>
          <li>
            <div class="marca"></div> Plásticos
          </li>
          <li>
            <div class="marca"></div> Otros
          </li>
        </ul>
        <div id="chart-wraper"></div>
      </div>
    </div>
  </div>
</template>