.carrousel {
	position: relative;
	width: 200%;
	display: inline-flex;
	transition: all 0.5s ease;

	&.modo-listado {
		left: 0%;
	}

	&.detalle {
		left: calc(-100% - 0px);
	}

	.grilla {
		position: relative;
		padding-top: 14px;
		left: 0%;
		width: 50%;
		height: calc(100vh - 120px);
		overflow-y: scroll;
		overflow-x: hidden;

		.contenedor-entidades {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			padding-left: 10px;
			width: 100%;

			.marco-entidad {
				position: relative;
				width: 222px;
				height: 222px;
				background-size: cover;
				margin-right: 20px;
				margin-bottom: 20px;
				border-radius: 8px;
				cursor: pointer;

				&.pendiente {
					filter: grayscale(0.9);
				}

				.overlay {
					display: block;
					widows: 222px;
					height: 222px;
					background-color: rgba(0, 0, 0, 0.2);
					border-radius: 8px;
				}

				.banda {
					position: relative;
					top: -131px;
					height: 110px;
					border-bottom-left-radius: 8px;
					border-bottom-right-radius: 8px;
					background-color: rgba(0, 0, 0, 0.7);
					color: white;
				}
			}
		}
	}

	.detalle {
		position: relative;
		display: block;
		width: 50%;
		height: calc(100vh - 120px);
		padding-left: 20px;
		padding-right: 20px;
		overflow-x: hidden;
		overflow-y: scroll;
	}
}

.no-content {
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
	width: 100%;
	margin-top: 10%;

	.material-icons {
		font-size: 92px;
	}

	p {
		font-size: 24px;
	}
}