<template name="ecopasaporte">
  <div class="mundo">		
	
		<section id="ecopasaporte" name="eco-actividades" class="ecopasaporte">
			<div class="logo">
				<img src="/img/logo_panel.png">
			</div>
			<div class="tombola flotalatombola2x">
				<div class="imagen">
					<img src="/img/tombola.gif">
				</div>
				{{#each ecoactividades}}
				{{#if espacio}}
				<div class="actividad"></div>
				{{else}}
				<div class="actividad {{nombre}}">
					<i class="material-icons">{{icono}}</i>
					<p>{{{accion}}}</p>
				</div>
				{{/if}}
				{{/each}}
			</div>
		</section>
	
		<!-- CORAZON VERDE -->
		<div class="marco-agente">
			<div class="corazon cuerpo">
				<img src="/img/corazon/corazon_verde.png">
			</div>
			<div class="expresion">
				<img src="/img/corazon/corazon_verde_cara_01.png">
			</div>
			<div class="brazo-izq">
				<img src="/img/corazon/corazon_verde_brazo_izq.png">
			</div>
			<div class="brazo-der">
				<img src="/img/corazon/corazon_verde_brazo_der.png">
			</div>
			<div class="piernas">
				<img src="/img/corazon/corazon_verde_piernas.png">
			</div>
		</div>
		<!-- FIN CORAZON VERDE -->
		
		<div class="puntaje">
			<p>NIVEL 01</p>
			<ul>
				<li class="vacio"></li>
				<li class="vacio"></li>
				<li class="vacio"></li>
				<li class="vacio"></li>
				<li class="vacio"></li>
				<li class="vacio"></li>
				<li class="vacio"></li>
				<li class="vacio"></li>
				<li class="lleno"></li>
				<li class="lleno"></li>
			</ul>
		</div>
  </div>
	
	<div class="cruz cruz-principal oculto">
		<i class="material-icons">clear</i>
	</div>
	
	<div class="eco-panel {{panel.clase}} {{panel.color}} inactivo">
		<div class="cruz cruz-panel">
			<i class="material-icons">clear</i>
		</div>
		
		<div class="navegacion-atras">
			<i class="material-icons">arrow_back_ios</i>
		</div>

		{{#if panel.esIdentificate}}
			{{> identificate}}
		{{/if}}
		{{#if panel.esECOOrganizaciones}}
			{{> eco_organizaciones}}
		{{/if}}
		{{#if panel.esECOCampanas}}
			{{> eco_campanas}}
		{{/if}}
		{{#if panel.esECODesarrollos}}
			{{> eco_desarrollos}}
		{{/if}}
		{{#if panel.esECOVoluntariado}}
			{{> eco_voluntariado}}
		{{/if}}
		{{#if panel.esECOSOS}}
			{{> eco_sos}}
		{{/if}}
	</div>
	
</template>