<template name="ecopasaporte">
	<div class="mundo" style="background-image: url(/img/fondos/ciudad_00{{corazonVerde.nivel}}.jpg);">

		<section id="ecopasaporte" name="eco-actividades" class="ecopasaporte">
			<div class="logo">
				<img src="/img/logo_panel.png">
			</div>
			<div class="tombola flotalatombola2x">
				<div class="imagen">
					<img src="/img/tombola.gif">
				</div>
				{{#each ecoactividades}}
				{{#if espacio}}
				<div class="actividad"></div>
				{{else}}
				<div class="actividad {{nombre}}">
					<i class="material-icons">{{icono}}</i>
					<p>{{{accion}}}</p>
				</div>
				{{/if}}
				{{/each}}
			</div>
		</section>

		<!-- CORAZON VERDE -->
		<div class="marco-agente nivel{{corazonVerde.nivel}}">
			<div class="corazon cuerpo">
				<img src="/img/corazon/corazon_verde.png">
			</div>
			<div class="expresion">
				<img src="/img/corazon/corazon_verde_cara_0{{corazonVerde.cara}}.png">
			</div>
			<div class="brazo-izq">
				<img src="/img/corazon/corazon_verde_brazo_izq.png">
			</div>
			<div class="brazo-der">
				<img src="/img/corazon/corazon_verde_brazo_der.png">
			</div>
			<div class="piernas">
				<img src="/img/corazon/corazon_verde_piernas.png">
			</div>
		</div>
		<!-- FIN CORAZON VERDE -->

		<div class="desecho">
			<img class="" src="/img/desechos/{{desecho}}.png">
		</div>

		{{#if corazonVerde}}
		<div class="puntaje">
			<p>NIVEL 0{{corazonVerde.nivel}}</p>
			<ul>
				{{#each corazonVerde.puntaje}}
				<li class="{{this}}"></li>
				{{/each}}
			</ul>
		</div>
		{{/if}}
	</div>

	<div class="rincon-derecho menu-preferencias oculto">
		<i class="material-icons">settings</i>
	</div>

	<div class="eco-panel {{panel.clase}} {{panel.color}}">
		<div class="rincon-derecho cruz-panel">
			<i class="material-icons">clear</i>
		</div>

		{{#if panel.esIdentificate}}
		{{> identificate}}
		{{/if}}
		{{#if panel.esECOOrganizaciones}}
		{{> eco_organizaciones}}
		{{/if}}
		{{#if panel.esECOCampanas}}
		{{> eco_campanas}}
		{{/if}}
		{{#if panel.esECODesarrollos}}
		{{> eco_desarrollos}}
		{{/if}}
		{{#if panel.esECOVoluntariado}}
		{{> eco_voluntariado}}
		{{/if}}
		{{#if panel.esECOSOS}}
		{{> eco_sos}}
		{{/if}}

		{{#if panel.esPerfil}}
		{{> panelPerfil}}
		{{/if}}
		{{#if panel.esNotificaciones}}
		{{> notificaciones}}
		{{/if}}
		{{#if panel.esMundoCorazones}}
		{{> mundoCorazones}}
		{{/if}}
	</div>

	<div class="panel-preferencias">
		<div class="marco-opciones">
			<div class="opcion-preferencia opcion-perfil">
				<div class="icono"><i class="material-icons">favorite</i></div>
				<div class="texto">Mi perfil</div>
			</div>
			<div class="opcion-preferencia opcion-notificaciones">
				<div class="icono"><i class="material-icons">notifications</i></div>
				<div class="texto">Notificaciones</div>
			</div>
			<div class="opcion-preferencia opcion-info">
				<div class="icono"><i class="material-icons">info</i></div>
				<div class="texto">Mundo de Corazones</div>
			</div>
			<div class="opcion-preferencia opcion-logout">
				<div class="icono"><i class="material-icons">logout</i></div>
				<div class="texto">Logout</div>
			</div>
		</div>
	</div>

</template>