<template name="modalregistroacciones">
  <div class="modal fade" id="modalregistroacciones" tabindex="-1" role="dialog" aria-labelledby="modalregistroacciones"
    aria-hidden="true" style="visibility: none;">
    <div class="modal-dialog">
      <div class="modal-content blanco">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="titulo flex">
            <i class="material-icons">event_busy</i>
            <span>Registro de acciones</span>
          </div>
        </div>
        <div class="modal-body">
          <div class="row formulario">
            <div class="entrada{{#if errores.fechaInicio}} is-invalid{{/if}} col-xs-4" style="position: relative">
              <span>Fecha de inicio</span>
              {{#if errores.fechaInicio}}<span class="mensaje"> (*{{errores.fechaInicio}})</span>{{/if}}
              <input type="text" class="campo datetime-componente" id="input-fecha"
                value="{{formatoFecha ecoCampana.fechaInicio 'DD/MM/YYYY'}}" autocomplete="off" required="true"
                aria-label="Fecha de inicio">
            </div>
            {{#each materiales}}
            <div class="entrada col-xs-4">
              <span>{{siglas}}<small>({{unidad}})</small></span>
              <input type="text" class="campo" id="input-{{siglas}}" value="{{valor}}">
            </div>
            {{/each}}
            <div class="entrada col-xs-4">
              <span>Puntos</span>
              <input type="number" class="campo" id="input-puntos" value="{{puntos}}">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="neuromorph boton redondo blanco" id="btn-guardar">
            <i class="material-icons">check</i>
          </button>
          <button class="neuromorph boton redondo blanco" data-dismiss="modal">
            <i class="material-icons">clear</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>