<template name="modalgeneral">
  <div class="modal fade" id="modalgeneral" tabindex="-1" role="dialog" aria-labelledby="modalgeneral"
    aria-hidden="true" style="visibility: none;">
    <div class="modal-dialog">
      <div class="modal-content blanco">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <p class="titulo">{{params.titulo}}</p>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <p>{{{params.texto}}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          {{#if params.esInfo}}
          <button type="button" class="btn btn-entendido" id="btn-entendido" data-dismiss="modal">
            Entendido
          </button>
          {{/if}}
          {{#if params.esDecision}}
          <button type="button" class="btn" id="btn-rechazar">
            <i class="material-icons">clear</i> Rechazar
          </button>
          <button type="button" class="btn" id="btn-aceptar">
            <i class="material-icons">check</i> Aceptar
          </button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>