<template name="codigoSecreto">
  <div class="cuadro-codigo-secreto">
    <div class="titulo">Código secreto</div>
    <div class="detalle">Tu primera donación ha sido procesada exitósamente.
      Se ha enviado un mail a tu casilla {{email}} con el código de 8 dígitos.
      Escríbelo y ya serás un corazón verde.
    </div>
    <div class="formulario">
      <div class="entrada codigo-secreto">
        <input type="password" id="input-codigo">
      </div>
      <div class="flex">
        <div class="neuromorph boton redondo verde">
          <i class="material-icons">clear</i>
        </div>
        <div class="neuromorph boton redondo verde" id="btn-guardar">
          <i class="material-icons">save</i>
        </div>
      </div>
    </div>
  </div>
</template>