<template name="deposito">
  <div class="instrucciones">
    {{#unless comprobanteEnviado}}
    <div class="datos-deposito custom-scroll">
      <div class="titulo">Tu donación es importante</div>
      <div class="subtitulo">Debes depositar a la cuenta a continuación y enviar una foto de
        comprobante o bien, el detalle de tu deposito (fecha, número deposito y banco) para
        luego seguir en el siguiente desafío.
      </div>
      <div class="cuadro-datos-deposito neuromorph verde">
        <div class="linea">
          <div class="etiqueta">Banco</div>
          <div class="valor">Banco de Chile</div>
        </div>
        <div class="linea">
          <div class="etiqueta">N° Cuenta Corriente</div>
          <div class="valor">80077664723</div>
        </div>
        <div class="linea">
          <div class="etiqueta">e-mail</div>
          <div class="valor">donaciones@ecopasaporte.cl</div>
        </div>
      </div>
      <div class="formulario">
        <div class="entrada selector-radio flex">
          <input type="radio" name="tipo" value="foto" checked>Foto de comprobante
          <input type="radio" name="tipo" value="texto">Texto detalle
        </div>
        <div class="sector-tipo-comprobate neuromorph verde">
          <div class="entrada" id="tipo-foto">
            <div class="entrada imagenes-picker">
              <div class="camara">
                <div class="marco-upload">
                  <i class="material-icons">photo_camera</i><br />
                  <p>Tomar / Arrastrar<br />fotografía</p>
                  <div class="marco-drop"></div>
                </div>
                <input id="upload-image" type="file" style="display: none">
              </div>
              <div class="imagenes">
                {{#with comprobante}}
                <div class="imagen" id={{_id}}>
                  <div class="marco-imagen">
                    <img src="{{this}}">
                    <div class="eliminar" id="{{_id}}">
                      <i class="material-icons">clear</i>
                      <span>Eliminar</span>
                    </div>
                  </div>
                </div>
                {{else}}
                <h3>No hay Comprobante</h3>
                {{/with}}
              </div>
            </div>
          </div>
          <div class="entrada" id="tipo-texto" style="display: none">
            <span>Detalle de tu comprobante</span>
            <textarea class="campo" id="input-detalle-deposito" rows="4"></textarea>
          </div>
        </div>
        <div class="flex">
          <div class="neuromorph boton redondo verde">
            <i class="material-icons">clear</i>
          </div>
          <div class="neuromorph boton redondo verde" id="btn-guardar">
            <i class="material-icons">save</i>
          </div>
        </div>
      </div>
    </div>
    {{else}}
    <div class="datos-deposito">
      <div class="espaciado"></div>
      <div class="cuadro-datos-deposito neuromorph verde">
        <div class="linea">
          <div class="etiqueta">
            <i class="material-icons">fact_check</i>
          </div>
          <div class="valor">
            <p>Los datos de tu depósito están siendo validados.</p>
            <span>Cuando recibas la aprobación del equipo, recibirás tu código secreto y
              podrás completar el siguiente paso.</span>
          </div>
        </div>
      </div>
    </div>
    {{/unless}}
  </div>
</template>