.tipo-identificacion {
	display: block;
	width: 100%;
	
	.titulo {
		margin: 20px auto;
		width: 100%;
		text-align: center;
		font-size: 28px;
		color: white;
	}
	
	.desafios {
		display: flex;
		justify-content: center;
	}
		
	&.oculto {
		display: none;
	}

	.marco-tipo {
			display: block;
			border-radius: 10px;

			padding: 10px;
			margin: 10px;
			text-align: center;
			border-radius: 10px;
			width:200px;
			
			&.deshabilitado {
				background-color: rgba(110, 110, 110, 0.6);
				color: black;				
				opacity: 0.2;
			}
			
			.pendiente {
				color: gainsboro;
			}
			
			.simbolo {
				i {
					position: relative;
					margin-top: -40px;
					margin-left: -40px;
					font-size: 79px;
				}				
			}

			.estado {
				position: relative;
				width: 40px;
				left: 100px;
				top: 0px;
				
				i {
					font-size: 40px;
				}
			}
		}
}

.contendor-identificate {
	display: flex;	
	
	&.oculto {
		display: none;
	}	
	
	.contenedor-login {
		display: flex;
		align-content: flex-start;
		padding: 20px 20px;
		border-radius: 20px;
		width: 480px;
		margin-left: 35px;
		margin-top: 60px;

		.formulario {	
			.campo {
				position: relative;
				height: 6em;

				p {
					margin-bottom: -1px;
					margin-left: 21px;
				}

				i.material-icons {
					position: absolute;
					color: darkgrey;
					top: 30px;
					font-size: 32px;
					padding-left: 12px;
				}

				input {
					width: -webkit-fill-available;
					width: 320px;
					padding-left: 48px;
				}
			}
		}

		#btn-login {
			width: 80px;
			margin-top: 46px;
			margin-left: 30px;
		}
	}
	
	.contenedor-registrame {
		border-radius: 20px;
		padding: 10px 20px;
		width: 135px;
		height: 135px;
		margin-left: 20px;
		margin-top: 100px;
		
		i {
			font-size: 80px;
			margin-left: 30px;
		}
		
		p {
			margin-top: -10px;
		}
	}
}





