.contendor-identificate {
	display: flex;
	
	&.oculto {
		display: none;
	}	
	
	.contenedor-login {
		display: flex;
		align-content: flex-start;
		padding: 20px 20px;
		border-radius: 20px;
		width: 480px;

		.formulario {	
			.campo {
				position: relative;
				height: 6em;

				p {
					margin-bottom: -1px;
					margin-left: 21px;
				}

				i.material-icons {
					position: absolute;
					color: darkgrey;
					top: 30px;
					font-size: 32px;
					padding-left: 12px;
				}

				input {
					width: -webkit-fill-available;
					width: 320px;
					padding-left: 48px;
				}
			}
		}

		#btn-login {
			width: 80px;
			margin-top: 46px;
			margin-left: 30px;
		}
	}
	
	.contenedor-registrame {
		border-radius: 20px;
		padding: 10px 20px;
		width: 135px;
		height: 135px;
		margin-left: 20px;
		
		i {
			font-size: 80px;
			margin-left: 30px;
		}
		
		p {
			margin-top: -10px;
		}
	}
}





