<template name="registrame">
	<div class="wizzard">
		<div class="barra-estado neuromorph verde">
			<div class="paso{{#if nivel.nivel1.pasos.paso1.completado}} completo{{/if}}">
				<div class="numero">1</div>
				<div class="titulo">Quién eres</div>
				<div class="trazo"></div>
			</div>
			<div class="paso{{#if nivel.nivel1.pasos.paso2.completado}} completo{{/if}}">
				<div class="numero">2</div>
				<div class="titulo">Dónde vives</div>
				<div class="trazo"></div>
			</div>
			<div class="paso{{#if nivel.nivel1.pasos.paso3.completado}} completo{{/if}}">
				<div class="numero">3</div>
				<div class="titulo">Tu e-correo</div>
			</div>
		</div>

		<div class="navegador">
			<div class="neuromorph boton izquierda redondo verde deshabilitado">
				<i class="material-icons">arrow_back_ios</i>
			</div>
			<div class="neuromorph boton derecha redondo verde">
				<i class="material-icons">arrow_forward_ios</i>
			</div>
		</div>

		<div class="contenedor-pasos">

			<div class="carrousel {{paso}}">

				<div class="paso paso1">
					<div class="estado">
						<i class="material-icons">check_circle_outline</i>
						<span class="titulo">1. Quién eres</span>
					</div>
					<div class="formulario" paso="1">
						<div class="entrada">
							<span>Nombre completo</span>
							{{#if errores.nombre.mensaje}} <span class="mensaje">{{errores.nombre.mensaje}}</span>{{/if}}
							<input type="text" class="campo-entrada" id="input-nombre" required="true" value="{{usuario.nombre}}">
						</div>
						<div class="entrada">
							<span>Algún pseudónimo?</span>
							<input type="text" class="campo-entrada" id="input-pseudonimo" value="{{usuario.pseudónimo}}">
						</div>
					</div>
				</div>

				<div class="paso paso2">
					<div class="estado">
						<i class="material-icons">check_circle_outline</i>
						<span class="titulo">2. Dónde vives</span>
					</div>
					<div class="formulario flex" paso="2">
						<div class="entrada geo neuromorph verde" type="geolocation">
							<div class="icono">
								<i class="material-icons">share_location</i>
								<p class="share-location">Permitir acceso</p>
							</div>
						</div>
						<div class="entrada">
							<span>Tu dirección descrita</span>
							{{#if errores.direccion.mensaje}} <span class="mensaje">{{errores.direccion.mensaje}}</span>{{/if}}
							<input type="text" class="campo-entrada" placeholder="Calle #, Ciudad" id="input-direccion"
								required="true" value="{{usuario.direccion}}">
						</div>
					</div>
				</div>

				<div class="paso paso3">
					<div class="estado">
						<i class="material-icons">check_circle_outline</i>
						<span class="titulo">3. Tu e-correo</span>
					</div>
					<div class="formulario" paso="3">
						<div class="entrada">
							<span>Tu correo electroninco</span>
							{{#if errores.email.mensaje}} <span class="mensaje">{{errores.email.mensaje}}</span>{{/if}}
							<input type="email" class="campo-entrada" placeholder="algo@dominio.cl" id="input-email" required="true"
								value="{{usuario.email}}">
						</div>
						<div class="flex">
							<div class="entrada password">
								<span>password</span>
								{{#if errores.password.mensaje}} <span class="mensaje">{{errores.password.mensaje}}</span>{{/if}}
								<input type="password" class="campo-entrada" id="input-password" required="true">
							</div>
							<div class="entrada">
								<span>re-password</span>
								{{#if errores.repassword.mensaje}} <span class="mensaje">{{errores.repassword.mensaje}}</span>{{/if}}
								<input type="password" class="campo-entrada" id="input-repassword" required="true">
							</div>
						</div>
						<div class="barra-seguridad insegura">
							<div class="segmento"></div>
							<div class="segmento"></div>
							<div class="segmento"></div>
							<div class="segmento"></div>
							<div class="segmento"></div>
							<span>0% Insegura</span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</template>