.wizzard {
	width: 100%;
	margin: auto;
	
	&.oculto {
		display: none;
	}
	
	.barra-estado {
		display: flex;
		border-radius: 40px;
		justify-content: center;
		height: 66px;
		overflow: hidden;
		padding-left: 63px;
		margin: 10px auto;
		width: 550px;
		
		.paso {
			position: relative;
			width: 120px;
			padding: 4px 0px 0px 0;
			
			.numero {
				border: 2px solid white;
				border-radius: 50%;
				border-style: double;
				font-size: 20px;
				width: 40px;
				height: 40px;
				padding-left: 12px;
				padding-top: 4px;
				z-index: 4;
			}
			
			.titulo {
				width: 120px;
				margin-left: -40px;
				text-align: center;
			}
			
			.trazo {
				position: relative;
				top: -45px;
				left: 37px;
				display: block;
				width: 85px;
				height: 10px;
				background-color: #7bcc71;
				border-color: white;
				border-style: solid;
				border-width: 2px;
				border-left: 0px;
				border-right: 0px;
				z-index: 5;
			}
			
			&.completo {
				.numero, .trazo {
					background-color: white;
					border-color: skyblue;
				}
				
				.numero, .titulo, .trazo {
					color: dodgerblue;
				}
			}			
		}
	}
}

.navegador {
	.boton {
		position: absolute;
		top: calc(50% - 55px);
		z-index: 20;
		
		&:nth-child(1) {
			left: 20px;
		}
		
		&:nth-child(2) {
			right: 20px;
		}
		
		i {
			padding-left: 4px;
		}
	}
}

.contenedor-pasos {
	position: relative;
	top: 0px;
	left: 0px;
	width: calc(100% - 180px);
	margin: auto;
	height: 63vh;
	display: block;
	text-align: center;
	overflow: hidden;
	z-index: 21;
	
	.carrousel {
		position: relative;
		width: calc(400% + 0px);
		display: inline-flex;
		left: 0px;
		transition: all 0.5s ease;
		
		&.paso1 {
			left: 0%;
		}
		
		&.paso2 {
			left: -100%;
		}
		
		&.paso3 {
			left: -200%;
		}
		
		&.paso4 {
			left: -300%;
		}
		
		.paso {
			width: 25%;
			text-align: left;
			margin: 0 5% 0 5%;
			
			.estado {
				position: relative;
				display: flex;
				top: 2px;
				left: -6px;
				color: white;
				margin-bottom: 4px;
				
				.titulo {
					position: relative;
					top: 7px;
					left: 8px;
					font-size: 20px;
				}

				&.completo {
					color: deepskyblue;
				}

				i {
					font-size: 42px;
				}
			}
		}
	}
}