<template name="registrame">
	<div class="wizzard oculto">
		<div class="barra-estado neuromorph verde">
			<div class="paso">
				<div class="numero">1</div>
				<div class="titulo">Quién eres</div>
				<div class="trazo"></div>
			</div>
			<div class="paso">
				<div class="numero">2</div>
				<div class="titulo">Dónde vives</div>
				<div class="trazo"></div>
			</div>
			<div class="paso">
				<div class="numero">3</div>
				<div class="titulo">Tu e-correo</div>
				<div class="trazo"></div>
			</div>
			<div class="paso">
				<div class="numero">4</div>
				<div class="titulo">Código secreto</div>
			</div>
		</div>

		<div class="navegador">
			<div class="neuromorph boton izquierda redondo verde deshabilitado">
				<i class="material-icons">arrow_back_ios</i>
			</div>
			<div class="neuromorph boton derecha redondo verde">
				<i class="material-icons">arrow_forward_ios</i>
			</div>
		</div>

		<div class="contenedor-pasos">

			<div class="carrousel paso1">

				<div class="paso">
					<div class="estado">
						<i class="material-icons">check_circle_outline</i>
						<span class="titulo">1. Quién eres</span>
					</div>
					<div class="formulario">
						<div class="entrada">
							<span>Nombre completo</span>
							<input type="text" class="campo" id="input-nombre">
						</div>
						<div class="entrada">
							<span>Algún pseudónimo?</span>
							<input type="text" class="campo" id="input-pseudonimo">
						</div>
					</div>
				</div>

				<div class="paso">
					<div class="estado">
						<i class="material-icons">check_circle_outline</i>
						<span class="titulo">2. Dónde vives</span>
					</div>
					<div class="formulario flex">
						<div class="entrada geo neuromorph verde">
							<div class="icono">
								<i class="material-icons">share_location</i>
								<p class="share-location">Permitir acceso</p>
							</div>
						</div>
						<div class="entrada">
							<span>Tu dirección descrita</span>
							<input type="text" class="campo" placeholder="Calle #, Ciudad"
										 id="input-direccion">
						</div>
					</div>
				</div>

				<div class="paso">
					<div class="estado">
						<i class="material-icons">check_circle_outline</i>
						<span class="titulo">3. Tu e-correo</span>
					</div>
					<div class="formulario">
						<div class="entrada">
							<input type="email" class="form" placeholder="algo@dominio.cl"
										 id="input-email">
						</div>
						<div class="flex">
							<div class="entrada password">
								<span>password</span>
								<input type="password" class="form" id="input-password">
								<div class="barra-seguridad insegura">
									<div class="segmento"></div>
									<div class="segmento"></div>
									<div class="segmento"></div>
									<div class="segmento"></div>
									<div class="segmento"></div>
									<span>0% Insegura</span>
								</div>
							</div>
							<div class="entrada">
								<span>re-password</span>
								<input type="password" class="form" id="input-repassword">
							</div>
						</div>
					</div>
				</div>

				<div class="paso">
					<div class="estado">
						<i class="material-icons">check_circle_outline</i>
						<span class="titulo">4. Tu código secreto</span>
					</div>
					<span class="detalle">Debes esperar un código en tu email. Esto tarda 3 días o menos.</span>
					<input type="password" class="form" id="input-codigo">
				</div>

			</div>

		</div>

	</div>

</template>