<template name="sabermas">
  <div class="contenedor-sabermas">
    <div class="marco-scroll-sabermas custom-scroll">
      <h1>¡Bienvenidos! a Ecopasaporte
        Súmate a nuestra campaña</h1>
      <div class="foto1">
        <p>
          Somos una corporación sin fines de lucro que implementa proyectos de Economía
          Circular en las comunidades, generando oportunidades de empleos,
          beneficios y protección social para todos sus integrantes.

          Llegamos a tu barrio a través de las Juntas de Vecinos e implementamos un plan
          paso a paso que entrega alimentos a los más necesitados.
        </p>
        <img src="/img/_ideas_/15.jpg">
      </div>
    </div>
  </div>
</template>