<template name="notificaciones">
  <div class="contenedor-notificaciones">
    <div class="status">
      <div class="titulo">Notificaciones</div>
      <div class="pendientes"> ({{cantidad.pendientes}})</div>
    </div>
    <div class="contenedor-listado custom-scroll">
      {{#each listado}}
      <div class="notificacion neuromorph rojo" id="{{_id}}">
        <i class="material-icons">{{icono}}</i>
        <div class="titulo">{{tipoTraducido}}</div>
        <div class="descripcion">{{{descripcion}}}</div>
        <div class="estado">{{estado}}</div>
        <div class="fecha">{{formatoFecha fecha 'DD/MM/yyyy'}}</div>
      </div>
      {{else}}
      <div class="no-content">
        <i class="material-icons">notifications_off</i>
        <p>Sin notificaciones para resolver</p>
      </div>
      {{/each}}
    </div>
  </div>
</template>