<template name="eco_campanas">
	<div class="navegacion-atras">
		<i class="material-icons">arrow_back_ios</i>
	</div>
	<div class="titulo-grilla">
		<div class="contenido-titulo">
			{{#if enListado}}
			<p>ECO_Campañas <small> ({{cantidad}})</small></p>
			{{#if enLogin}}
			<button class="btn" id="btn-nuevo">
				<i class="material-icons">add</i><span>Nuevo</span>
			</button>
			{{/if}}
			{{else}}
			<p>
				{{#if ecoCampana.tipo}}{{traductorCAMPANASTipos ecoCampana.tipo}}{{else}}Nuevo ECO_Campana
				{{/if}}{{#if editando}}<small>(editando) </small>{{/if}}</p>
			{{#if ecoCampana.esPropia}}
			{{#unless editando}}
			<button class="btn" id="btn-editar">
				<i class="material-icons">edit</i><span>Editar</span>
			</button>
			{{/unless}}
			{{/if}}
			{{/if}}
		</div>
	</div>
	<div class="carrousel modo-listado">
		<div class="grilla custom-scroll">
			<div class="contenedor-entidades contenedor-campanas">
				{{#each eco_campanas}}
				<div class="marco-entidad neuromorph azul" style="background-image: url({{avatar}})" id="{{_id}}">
					<div class="overlay"></div>
					<div class="titulo">
						{{traductorCAMPANASTipos tipo}}
					</div>
					<div class="banda">
						<div class="fechas">
							<div class="fechainicio">Fecha Inicio</div>
							<div class="fechai">{{formatoFecha fechaInicio 'DD/MM/YYYY'}}</div>
						</div>
						<div class="fecha">
							<div class="fechainicio">Fecha Termino</div>
							<div class="fechai">{{formatoFecha fechaFin 'DD/MM/YYYY'}}</div>
						</div>
						<div class="nomcomuna">
							<div class="comuna">Comuna</div>
							<div class="comunai">{{comuna}}</div>
						</div>
						<div class="nomorganizador">
							<div class="organizdor">Organizador</div>
							<div class="organizdori">{{organizador}}</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="detalle custom-scroll">
			{{#if editando}}
			<div class="formulario">
				<div class="flex">
					<div class="entrada">
						<span>Tipo de campaña</span><br />
						<select id="input-tipo" class="campo">
							{{#each tipos}}
							<option value="{{id}}" {{selectValor id eco_campana.tipo}}>{{etiqueta}}</option>
							{{/each}}
						</select>
					</div>
					<div class="entrada{{#if errores.descripcion}} is-invalid{{/if}}">
						<span>Describe tu campaña</span>
						{{#if errores.descripcion}}<span class="mensaje"> (*{{errores.descripcion}})</span>{{/if}}
						<textarea class="campo" id="input-descripcion" rows="4" required="true" aria-label="Descripción"
							value="{{ecoCampana.descripcion}}"></textarea>
					</div>
				</div>
				<div class="entrada{{#if errores.direccion}} is-invalid{{/if}}">
					<span>Dirección</span>
					{{#if errores.direccion}}<span class="mensaje"> (*{{errores.direccion}})</span>{{/if}}
					<input type="text" class="campo" id="input-direccion" placeholder="Dirección" value="{{ecoCampana.direccion}}"
						required="true" aria-label="Dirección">
				</div>
				<div class="entrada{{#if errores.comuna}} is-invalid{{/if}}" style="position: relative;">
					<span>Comuna</span>
					{{#if errores.comuna}}<span class="mensaje"> (*{{errores.comuna}})</span>{{/if}}
					{{> inputAutocomplete settings=settingsComunas id="input-comuna"
					class="campo" placeholder="Comuna..." required="true" aria-label="Comuna"
					autocomplete="off" value=ecoCampana.comuna}}
				</div>
				<div class="flex">
					<div class="entrada{{#if errores.descripcionLugar}} is-invalid{{/if}}">
						<span>Descripción del lugar</span>
						{{#if errores.descripcionLugar}}<span class="mensaje"> (*{{errores.descripcionLugar}})</span>{{/if}}
						<textarea class="campo" id="input-descripcionLugar" rows="4" value="{{ecoCampana.descripcionLugar}}"
							required="true" aria-label="Descripción del lugar"></textarea>
					</div>
				</div>
				<div class="entrada imagenes-picker {{#if errores.imagen}} is-invalid{{/if}}">
					<div class="camara">
						<div class="marco-upload {{#if errores.imagen}} is-invalid{{/if}}">
							<i class="material-icons">photo_camera</i><br />
							<p>Tomar / Arrastrar<br />fotografía</p>
							<div class="marco-drop"></div>
						</div>
						<input id="upload-imagen" type="file" style="display: none">
						<input id="input-imagen" class="campo" style="display: none" required="true" aria-label="Imagen"
							tipo="imagen-uploader" value="{{ecoCampana.tieneImagenes}}">
					</div>
					<div class="imagenes">
						{{#each imagenes}}
						<div class="imagen" id={{_id}}>
							<div class="marco-imagen">
								<img src="{{imagen}}">
								<div class="eliminar" id="{{_id}}">
									<i class="material-icons">clear</i>
									<span>Eliminar</span>
								</div>
							</div>
						</div>
						{{else}}
						<h3>{{#if errores.imagen}}<small><span class="mensaje">(*{{errores.imagen}})<br /></span></small>{{/if}}
							No hay Imágenes</h3>
						{{/each}}
					</div>
				</div>
				<div class="flex">
					<div class="entrada{{#if errores.fechaInicio}} is-invalid{{/if}}" style="position: relative">
						<span>Fecha de inicio</span>
						{{#if errores.fechaInicio}}<span class="mensaje"> (*{{errores.fechaInicio}})</span>{{/if}}
						<input type="text" class="campo datetime-componente" id="input-fechaInicio"
							value="{{formatoFecha ecoCampana.fechaInicio 'DD/MM/YYYY'}}" autocomplete="off" required="true"
							aria-label="Fecha de inicio">
					</div>
					<div class="entrada{{#if errores.fechaFin}} is-invalid{{/if}}" style="position: relative">
						<span>Fecha de fin</span>
						{{#if errores.fechaFin}}<span class="mensaje"> (*{{errores.fechaFin}})</span>{{/if}}
						<input type="text" class="campo datetime-componente" id="input-fechaFin"
							value="{{formatoFecha ecoCampana.fechaFin 'DD/MM/YYYY'}}" autocomplete="off" required="true"
							aria-label="Fecha de término">
					</div>
				</div>
				<div class="entrada usuario-picker{{#if errores.organizador}} is-invalid{{/if}}">
					<div class="campo-entrada" style="position: relative;">
						<span>Organizador</span>
						{{#unless ecoCampana.organizadorId}}
						{{#if errores.organizador}}<span class="mensaje"> (*{{errores.organizador}})</span>{{/if}}
						{{> inputAutocomplete settings=settingsOrganizador id="input-organizador" class="campo"
						placeholder="Nombre..." autocomplete="off" required="true" aria-label="El organizador"}}
						{{else}}
						<input id="input-organizadorId" class="campo" style="display: none" value="{{ecoCampana.organizadorId}}">
						<div class="avatar" required="true" aria-label="Organizador">
							{{#if ecoCampana.imagenOrganizador}}
							<img src="{{ecoCampana.imagenOrganizador}}">
							{{else}}
							<div class="no-imagen">{{ecoCampana.inicialesOrganizador}}</div>
							{{/if}}
							<p>{{ecoCampana.nombreOrganizador}}</p>
							<i id="reasignar-organizador" class="material-icons">clear</i>
						</div>
						{{/unless}}
					</div>
				</div>
				<div class="entrada usuario-picker{{#if errores.coordinador}} is-invalid{{/if}}">
					<div class="campo-entrada" style="position: relative;">
						<span>Coordinador</span>
						{{#unless ecoCampana.coordinadorId}}
						{{#if errores.coordinador}}<span class="mensaje"> (*{{errores.coordinador}})</span>{{/if}}
						{{> inputAutocomplete settings=settingsCoordinador id="input-coordinador" class="campo"
						placeholder="Nombre..." autocomplete="off" required="true" aria-label="El coordinador"}}
						{{else}}
						<input id="input-coordinadorId" class="campo" style="display: none" value="{{ecoCampana.coordinadorId}}">
						<div class="avatar" required="true" aria-label="Coordinador">
							{{#if ecoCampana.imagenCoordinador}}
							<img src="{{ecoCampana.imagenCoordinador}}">
							{{else}}
							<div class="no-imagen">{{ecoCampana.inicialesCoordinador}}</div>
							{{/if}}
							<p>{{ecoCampana.nombreCoordinador}}</p>
							<i id="reasignar-coordinador" class="material-icons">clear</i>
						</div>
						{{/unless}}
					</div>
				</div>
				<div class="entrada cuadrilla-picker">
					<div class="campo-entrada" style="position: relative;">
						<span>Cuadrillas relacionadas</span>
						<br />
						{{> inputAutocomplete settings=settingsCuadrillas id="input-cuadrilla"
						placeholder="Nombre Cuadrilla..."
						autocomplete="off"}}
						<input id="input-cuadrillasId" class="campo" value="{{ecoCampana.cuadrillasId}}" style="display: none">
					</div>

					{{#each ecoCampana.cuadrillas}}
					<div class="avatar">
						<img src="{{imagen}}">
						<p>{{nombre}}</p>
						<i id="reasignar-cuadrilla" class="material-icons" cuadrillaId="{{id}}">clear</i>
					</div>
					{{/each}}

				</div>
				<div class="flex">
					<div class="neuromorph boton redondo azul" id="btn-cancelar">
						<i class="material-icons">clear</i>
					</div>
					<div class="neuromorph boton redondo azul" id="btn-guardar">
						<i class="material-icons">save</i>
					</div>
				</div>
			</div>
			{{else}}
			{{#with ecoCampana}}
			<div class="presentacion">
				<div class="ultima-actividad"><i>ultimaActividad: </i>{{formatoFecha ultimaActividad 'DD/MMM/YYYY HH:mm'}}
				</div>
				<div class="titulo-presentacion">Imagenes</div>
				<div class="entrada imagenes-picker">
					<div class="imagenes">
						{{#each imagenes}}
						<div class="imagen" id={{_id}}>
							<div class="marco-imagen">
								<img src="{{imagen}}">
							</div>
						</div>
						{{else}}
						<h3>No hay Imágenes</h3>
						{{/each}}
					</div>
				</div>
				<div class="titulo-presentacion">Participantes</div>
				<div class="participantes">
					<div class="avatar-participante">
						<img src="/img/avatares/avatar01.png"><br />
						<span>EdUTroN</span>
						<i class="material-icons">star</i>
					</div>
					<div class="avatar-participante">
						<img src="/img/avatares/avatar02.jpg"><br />
						<span>Miriam</span>
					</div>
				</div>
				<div class="titulo-presentacion">Total en donaciones</div>
				<div class="donaciones">
					<i class="material-icons">request_quote</i>
					<div class="cantidad">
						<small>CLP </small>$ {{donaciones}}<small> M</small>
					</div>
				</div>
				<div class="titulo-presentacion">Reseña histórica</div>
				<div class="resena">
					<p>{{ecoCampana.descripcion}}</p>
				</div>
				<div class="titulo-presentacion">Solicitar unirse</div>
				<div class="neuromorph boton redondo azul">
					<i class="material-icons">login</i>
				</div>
			</div>
			{{/with}}
			{{/if}}
		</div>
	</div>
</template>