<template name="eco_campanas">
	<div class="navegacion-atras">
		<i class="material-icons">arrow_back_ios</i>
	</div>
	<div class="titulo-grilla">
		<div class="contenido-titulo">
			{{#if enListado}}
			<p>ECO_Campañas <small> ({{cantidad}})</small></p>
			<button class="btn" id="btn-nuevo">
				<i class="material-icons">add</i><span>Nuevo</span>
			</button>
			{{else}}
			<p>
				{{#if ecoCampana.tipo}}{{traductorCAMPANASTipos ecoCampana.tipo}}{{else}}Nuevo ECO_Campana
				{{/if}}{{#if editando}}<small>(editando) </small>{{/if}}</p>
			{{#if ecoCampana.esPropia}}
			{{#unless editando}}
			<button class="btn" id="btn-editar">
				<i class="material-icons">edit</i><span>Editar</span>
			</button>
			{{/unless}}
			{{/if}}
			{{/if}}
		</div>
	</div>
	<div class="carrousel modo-listado">
		<div class="grilla">
			<div class="contenedor-entidades contenedor-campanas">
				{{#each eco_campanas}}
				<div class="marco-entidad neuromorph azul" style="background-image: url({{avatar}})" id="{{_id}}">
					<div class="overlay"></div>
					<div class="titulo">
						{{traductorCAMPANASTipos tipo}}
					</div>
					<div class="banda">
						<div class="fechas">
							<div class="fechainicio">Fecha Inicio</div>
							<div class="fechai">{{formatoFecha fechaInicio 'DD/MM/YYYY'}}</div>
						</div>
						<div class="fecha">
							<div class="fechainicio">Fecha Termino</div>
							<div class="fechai">{{formatoFecha fechaFin 'DD/MM/YYYY'}}</div>
						</div>
						<div class="nomcomuna">
							<div class="comuna">Comuna</div>
							<div class="comunai">{{comuna}}</div>
						</div>
						<div class="nomorganizador">
							<div class="organizdor">Organizador</div>
							<div class="organizdori">{{organizador}}</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="detalle">
			{{#if editando}}
			<div class="formulario">
				<div class="flex">
					<div class="entrada">
						<span>Tipo de campaña</span><br />
						<select id="input-tipo" class="campo">
							{{#each tipos}}
							<option value="{{id}}" {{selectValor id eco_campana.tipo}}>{{etiqueta}}</option>
							{{/each}}
						</select>
					</div>
					<div class="entrada">
						<span>Describe tu campaña</span>
						<textarea class="campo" id="input-descripcion" rows="4" value="{{ecoCampana.descripcion}}"></textarea>
					</div>
				</div>
				<div class="entrada">
					<span>Dirección</span>
					<input type="text" class="campo" id="input-direccion" placeholder="Dirección"
						value="{{ecoCampana.direccion}}">
				</div>
				<div class="entrada">
					<span>Comuna</span>
					{{> inputAutocomplete settings=settingsComunas id="input-comuna" class="campo" placeholder="Comuna..."
					autocomplete="off" value=ecoCampana.comuna}}
				</div>
				<div class="flex">
					<div class="entrada">
						<span>Descripción del lugar</span>
						<textarea class="campo" id="input-descripcionLugar" rows="4"
							value="{{ecoCampana.descripcionLugar}}"></textarea>
					</div>
				</div>
				<div class="entrada imagenes-picker">
					<div class="camara">
						<div class="marco-upload">
							<i class="material-icons">photo_camera</i><br />
							<p>Tomar / Arrastrar<br />fotografía</p>
							<div class="marco-drop"></div>
						</div>
						<input id="upload-image" type="file" style="display: none">
					</div>
					<div class="imagenes">
						{{#each imagenes}}
						<div class="imagen" id={{_id}}>
							<div class="marco-imagen">
								<img src="{{imagen}}">
								<div class="eliminar" id="{{_id}}">
									<i class="material-icons">clear</i>
									<span>Eliminar</span>
								</div>
							</div>
						</div>
						{{else}}
						<h3>No hay Imágenes</h3>
						{{/each}}
					</div>
				</div>
				<div class="flex">
					<div class="entrada" style="position: relative">
						<span>Fecha de inicio</span>
						<input type="text" class="campo datetime-componente" id="input-fechaInicio"
							value="{{ecoCampana.fechaInicio}}">
					</div>
					<div class="entrada" style="position: relative">
						<span>Fecha de fin</span>
						<input type="text" class="campo datetime-componente" id="input-fechaFin" value="{{ecoCampana.fechaFin}}">
					</div>
				</div>
				<div class="entrada usuario-picker">
					<div class="campo-entrada">
						<span>Organizador</span><br />
						<input type="text" class="campo autocomplete" id="input-organizador" value="{{ecoCampana.organizador}}">
					</div>
					<div class="avatar">
						<img src="/img/avatares/avatar01.png"><br />
						<span>EdUTroN</span>
					</div>
				</div>
				<div class="entrada usuario-picker">
					<div class="campo-entrada">
						<span>Coordinador</span><br />
						<!--input type="text" class="campo autocomplete" id="input-coordinador" value="{{ecoCampana.coordinador}}"-->
						{{> inputAutocomplete settings=settingsCoordinador id="input-coordinador" class="campo"
						placeholder="Nombre..."
						autocomplete="off"}}
					</div>
					{{#if coordinador}}
					<div class="avatar">
						<img src="/img/avatares/avatar02.jpg"><br />
						<span>Oleska</span>
					</div>
					{{/if}}
				</div>
				<div class="entrada cuadrilla-picker">
					<div class="campo-entrada">
						<span>Cuadrillas relacionadas</span><br />
						<!--input type="text" class="campo autocomplete" id="input-coordinador" value="{{ecoCampana.coordinador}}"-->
						{{> inputAutocomplete settings=settingsCuadrilla id="input-cuadrilla" class="campo"
						placeholder="Nombre Cuadrilla..."
						autocomplete="off"}}
					</div>
					<div class="avatares">
						<div class="avatar">
							<img src="/img/avatares/team01.png"><br />
							<span>Los Galgos</span>
						</div>
						<div class="avatar">
							<img src="/img/avatares/team02.png"><br />
							<span>Clerigos</span>
						</div>
						<div class="avatar">
							<img src="/img/avatares/team03.png"><br />
							<span>Colegio San Bernardo</span>
						</div>
					</div>
				</div>
				<div class="flex">
					<div class="neuromorph boton redondo azul" id="btn-cancelar">
						<i class="material-icons">clear</i>
					</div>
					<div class="neuromorph boton redondo azul" id="btn-guardar">
						<i class="material-icons">save</i>
					</div>
				</div>
			</div>
			{{else}}
			{{#with ecoCampana}}
			<div class="presentacion">
				<div class="ultima-actividad"><i>ultimaActividad: </i>{{formatoFecha ultimaActividad 'DD/MMM/YYYY HH:mm'}}
				</div>
				<div class="titulo-presentacion">Imagenes</div>
				<div class="entrada imagenes-picker">
					<div class="imagenes">
						{{#each imagenes}}
						<div class="imagen" id={{_id}}>
							<div class="marco-imagen">
								<img src="{{imagen}}">
							</div>
						</div>
						{{else}}
						<h3>No hay Imágenes</h3>
						{{/each}}
					</div>
				</div>
				<div class="titulo-presentacion">Participantes</div>
				<div class="participantes">
					<div class="avatar-participante">
						<img src="/img/avatares/avatar01.png"><br />
						<span>EdUTroN</span>
						<i class="material-icons">star</i>
					</div>
					<div class="avatar-participante">
						<img src="/img/avatares/avatar02.jpg"><br />
						<span>Miriam</span>
					</div>
				</div>
				<div class="titulo-presentacion">Total en donaciones</div>
				<div class="donaciones">
					<i class="material-icons">request_quote</i>
					<div class="cantidad">
						<small>CLP </small>$ {{donaciones}}<small> M</small>
					</div>
				</div>
				<div class="titulo-presentacion">Reseña histórica</div>
				<div class="resena">
					<p>{{ecoCampana.descripcion}}</p>
				</div>
				<div class="titulo-presentacion">Solicitar unirse</div>
				<div class="neuromorph boton redondo azul">
					<i class="material-icons">login</i>
				</div>
			</div>
			{{/with}}
			{{/if}}
		</div>
	</div>
</template>