.marco-perfil {
  display: block;

  .marco-foto-perfil {
    display: block;
    text-align: center;
    padding-bottom: 1em;
    border-radius: 8px;
    box-sizing: border-box;
    
    .marco-foto {
      display: block;
      position: absolute;
      width: 100%;
      height: auto;

      .distintivo {
        position: absolute;
        display: block;
        right: 20%;
        bottom: 40%;

        .material-icons {
          font-size: 32px;
          background-color: black;
          border-radius: 50%;
          color: limegreen;
          padding: 4px;
        }
      }

      .marco-editar {
        position: absolute;
        border-radius: 4px;
        border: 2px solid white;
        right: 20%;
        top: 10%;
        padding: 2px 2px 0px 2px;
        background-color: black;
          
        cursor: pointer;
        .material-icons {
          color: limegreen;
        }
      }

      .nombre {
        font-size: 22px;
        background-color: white;
        color: orangered;
        border-radius: 8px;
        padding: 0 1em;
        margin-top: 1em;
      }
      
      .marco-avatar {
        position: relative;
        display: block;
        width: 80%;
        z-index: 0;
        cursor: pointer;

        .no-imagen {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 2px solid white;
          background-color: blueviolet;
          color: white;
          font-size: 72px;
          left: 15px;
          text-align: center;
          padding-top: 36px;
        }



        .avatar {
          display: block;
          width: 100%;
          background-size: cover;
          border-radius: 50%;

          .inner {
            padding: 50%;
          }
        } 
        

        .marco-drop {
          position: absolute;
          opacity: 0;
          width: 180px;
          height: 180px;
          background-image: url(/img/drag-and-drop.png);				
          background-size: cover;					
          background-position: center;
          border-radius: 50%;
          top: 0px;
          left: 0px;
          z-index: 1;

          &.drop {
            opacity: 1;
          }
        }
      }

      .puntaje {
        display: flex;
        .material-icons {
          font-size: 72px;
          color: limegreen;
        }
        .cantidad {
          font-size: 56px;
        }
      }
    }
  }

  .marco-informacion {
    margin-top: 60px;

    .linea {
      width: 100%;
      display: inline-flex;
      text-align: left;
      font-size: 18px;
      margin-bottom: 0.5em;
      .etiqueta {
        width: 150px;
      }
      .valor {
        width: 100%;
        &::before {
          content: ': ';
        }
      }

      .contenedor-intereses {
        margin-bottom: 0.75em;
  
        .interes {
          display: inline-flex;
          flex-wrap: wrap;
          background-color: yellowgreen;
          color: black;
          border-radius: 4px;
          padding: 0.3em 0.75em;
          margin: 0.3em;
        }
      }
    }

    .recuadro-presentacion {
			display: flex;
			.marco-agente-seleccionable {
				display: block;
				width: 175px;
				position: relative;
				height: 254px;
				padding: 20px;
				border: 2px solid white;
				border-radius: 16px;
				margin: 1.5em;
				background-color: skyblue;
				opacity: 0.3;
				cursor: pointer;

				&:hover {
					opacity: 0.8;
				}

				&.seleccionado {
					opacity: 1;
				}

				.imagen {
					display: block;
					position: absolute;
					width: 153px;
					height: 254px;
					background-repeat: no-repeat;
					&.cuerpo {
						background-image: url(/img/corazon/corazon_verde.png);
						background-size: 124px 105px;
						z-index: 5;
					}
					&.piernas {
						background-image: url(/img/corazon/corazon_verde_piernas.png);
						background-size: 111px 129px;
						background-position: 7px 80px;
						z-index: 1;
					}
					&.brazo-izq {
						background-image: url(/img/corazon/corazon_verde_brazo_izq.png);
						background-size: 44px 89px;
						background-position: 83px 50px;
						z-index: 6;
					}
					&.brazo-der {
						background-image: url(/img/corazon/corazon_verde_brazo_der.png);
						background-size: 29px 67px;
						background-position: 7px 60px;
						z-index: 2;
					}
					&.cara-a {
						background-image: url(/img/corazon/corazon_verde_cara_01.png);
						background-size: 64px 50px;
						background-position: 26px 27px;
						z-index: 6;
					}
					&.cara-b {
						background-image: url(/img/corazon/corazon_verde_cara_b01.png);
						background-size: 40px 46px;
						background-position: 32px 27px;
						z-index: 6;
					}
					&.rosa {
						background-image: url(/img/corazon/corazon_verde_rosa.png);
						background-size: 39px 42px;
						background-position: 85px 0px;
						z-index: 6;
					}
				}
			}
		}
  }

  .formulario-edicion {
    margin-top: 3.5em;
    margin-bottom: 0.5em;
    height: calc(100vh - 6em);
    overflow-y: scroll;
    padding-right: 1em;
  }
}

@media screen and (max-width: 650px) {
  .marco-perfil {
    .marco-foto-perfil {
      width: calc(100% - 8em);
      padding: 2em;
      margin: 4em;

      .marco-foto {
        width: 60%;       
      } 
    }

    .formulario-edicion {
      width: 100%;
    }

    .marco-informacion {
      width: 100%;
    }
  }
}

@media screen and (min-width: 651px) {
  .marco-perfil {
    display: flex;
    .marco-foto-perfil {
      padding: 1em;
      margin: 2em auto;

      width: calc(30% + 8em);
      height: auto;
      .marco-foto {
        width: calc(30% - 3em);
      }
    }

    .formulario-edicion {
      width: calc(70% + 8em);
    }

    .marco-informacion {
      width: calc(70% + 8em);
      overflow-y: scroll;
      height: calc(100vh - 10em);
    }
  }
}