<template name="panelPerfil">
  <div class="marco-perfil">
    <div class="marco-foto-perfil">
      <div class="marco-foto">
        <div class="marco-avatar">
          {{#if perfil.avatar}}
          <div class="avatar" style="background-image: url({{perfil.avatar}})">
            <div class="inner"></div>
          </div>
          {{else}}
          <div class="no-imagen">{{perfil.iniciales}}</div>
          {{/if}}
          <div class="marco-drop"></div>
        </div>
        <div class="nombre">{{perfil.nombre}}</div>
        <div class="pseudonimo">{{perfil.pseudonimo}}</div>
        <div class="marco-editar">
          <i class="material-icons">edit</i>
        </div>
        {{#if perfil.esAdmin}}
        <div class="distintivo">
          <i class="material-icons">star</i>
        </div>
        {{/if}}
      </div>
      <input type="file" id="upload-image" style="display: none;">
    </div>
    <div class="marco-informacion custom-scroll">
      <div class="linea">
        <div class="etiqueta">Direccion</div>
        <div class="valor">{{perfil.direccion}}</div>
      </div>
      <div class="linea">
        <div class="etiqueta">RUT</div>
        <div class="valor">{{perfil.rut}}</div>
      </div>
      <div class="linea">
        <div class="etiqueta">Fecha nacimiento</div>
        <div class="valor">{{formatoFecha perfil.fechaNacimiento 'DD/MM/YYYY'}}</div>
      </div>
      <div class="linea">
        <div class="etiqueta">Intereses</div>
        <div class="valor contenedor-intereses">
          {{#each perfil.intereses}}
          {{#if seleccionado}}
          <span class="interes">{{etiqueta}}</span>
          {{/if}}
          {{/each}}
        </div>
      </div>
      <div class="linea">
        <div class="etiqueta">Te presentas como</div>
      </div>
      <div class="linea">
        <div class="recuadro-presentacion">
          {{#if sonIguales perfil.sexo 'M'}}
          <div class="marco-agente-seleccionable seleccionado">
            <div class="imagen cuerpo"></div>
            <div class="imagen piernas"></div>
            <div class="imagen brazo-izq"></div>
            <div class="imagen brazo-der"></div>
            <div class="imagen cara-a"></div>
          </div>
          {{else}}
          <div class="marco-agente-seleccionable seleccionado">
            <div class="imagen cuerpo"></div>
            <div class="imagen piernas"></div>
            <div class="imagen brazo-izq"></div>
            <div class="imagen brazo-der"></div>
            <div class="imagen cara-b"></div>
            <div class="imagen rosa"></div>
          </div>
          {{/if}}
        </div>
      </div>
      <div class="linea">
        <div class="etiqueta">Reseña</div>
        <div class="valor">{{perfil.resena}}</div>
      </div>
    </div>
    <div class="formulario-edicion custom-scroll" style="display: none">
      <div class="formulario">
        <div class="entrada">
          <span>Dirección</span>
          <input type="text" id="input-direccion" class="campo" value="{{perfil.direccion}}">
        </div>
        <div class="flex">
          <div class="entrada">
            <span>RUT</span>
            <input type="text" id="input-rut" class="campo" value="{{perfil.rut}}">
          </div>
          <div class="entrada">
            <span>Fecha nacimiento</span>
            <input type="text" id="input-fechaNacimiento" class="campo datetimepicker-component"
              value="{{perfil.fechaNacimiento}}">
          </div>
        </div>
        <div class="entrada">
          <span>Intereses</span>
          <div class="caluguero">
            {{#each perfil.intereses}}
            <span class="caluga{{#if seleccionado}} seleccionado{{/if}}">{{etiqueta}}</span>
            {{/each}}
          </div>
        </div>
        <div class="entrada">
          <span>Te presentas como</span>
          <div class="selectores-presentacion">
            <div class="marco-agente-seleccionable{{#if sonIguales perfil.sexo 'M'}} seleccionado{{/if}}" sexo="M">
              <div class="imagen cuerpo"></div>
              <div class="imagen piernas"></div>
              <div class="imagen brazo-izq"></div>
              <div class="imagen brazo-der"></div>
              <div class="imagen cara-a"></div>
            </div>
            <div class="marco-agente-seleccionable{{#if sonIguales perfil.sexo 'F'}} seleccionado{{/if}}" sexo="F">
              <div class="imagen cuerpo"></div>
              <div class="imagen piernas"></div>
              <div class="imagen brazo-izq"></div>
              <div class="imagen brazo-der"></div>
              <div class="imagen cara-b"></div>
              <div class="imagen rosa"></div>
            </div>
          </div>
          <input class="campo" id="input-sexo" value="{{perfil.sexo}}" style="display: none">
        </div>
        <div class="entrada">
          <span>Cuentanos de ti</span>
          <textarea class="campo" id="input-resena" rows="4"
            placeholder="Motivaciones, sueños, reseña, tu historia">{{perfil.resena}}</textarea>
        </div>
        <div class="flex" style="width: 100%; justify-content: center;">
          <div class="neuromorph boton redondo rojo" id="btn-cancelar">
            <i class="material-icons">clear</i>
          </div>
          <div class="neuromorph boton redondo rojo" id="btn-guardar">
            <i class="material-icons">save</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>