<template name="panelPerfil">
  <div class="marco-perfil" style="display: flex;">
    <div class="marco-foto-perfil">
      <div class="marco-foto">
        <div class="marco-avatar">
          {{#if perfil.avatar}}
          <div class="avatar">
            <img src="{{perfil.avatar}}" />
          </div>
          {{else}}
          <div class="no-imagen">{{perfil.iniciales}}</div>
          {{/if}}
          <div class="marco-drop"></div>
        </div>
        <div class="nombre">{{perfil.nombre}}</div>
        <div class="pseudonimo">{{perfil.pseudonimo}}</div>
        <div class="marco-editar">
          <i class="material-icons">edit</i>
        </div>
        <div class="distintivo">
          <i class="material-icons">star</i>
        </div>
      </div>
      <input type="file" id="upload-image" style="display: none;">
    </div>
    <div class="marco-informacion">
      <div class="linea">
        <div class="etiqueta">Direccion</div>
        <div class="valor">{{perfil.direccion}}</div>
      </div>
    </div>
    <div class="formulario-edicion" style="display: none">
      <div class="formulario">
        <div class="entrada">
          <span>Direccion</span>
          <input type="text" id="input-direccion" class="campo" value="{{perfil.direccion}}">
        </div>
        <div class="flex">
          <div class="neuromorph boton redondo rojo" id="btn-cancelar">
            <i class="material-icons">clear</i>
          </div>
          <div class="neuromorph boton redondo rojo" id="btn-guardar">
            <i class="material-icons">save</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>