<template name="eco_desarrollos">
	<div class="navegacion-atras">
		<i class="material-icons">arrow_back_ios</i>
	</div>
	<div class="titulo-grilla">
		<div class="contenido-titulo">
			{{#if enListado}}
			<p>ECO_Desarrollos <small>({{cantidad}})</small></p>
			{{#if enLogin}}
			<button class="btn" id="btn-nuevo">
				<i class="material-icons">add </i>
				<span>Nuevo</span>
			</button>
			{{/if}}
			{{else}}
			<p>
				{{#if ecoDesarrollo.titulo}}{{ecoDesarrollo.titulo}}{{else}}Nuevo ECO_Desarrollo
				{{/if}}{{#if editando}}<small>(editando) </small>{{/if}}</p>
			{{#if ecoDesarrollo.esPropia}}
			{{#unless editando}}
			<button class="btn" id="btn-editar">
				<i class="material-icons">edit</i><span>Editar</span>
			</button>
			{{/unless}}
			{{/if}}
			{{/if}}
		</div>
	</div>
	<div class="carrousel modo-listado">
		<div class="grilla custom-scroll">
			<div class="contenedor-entidades contenedor-desarrollos">
				{{#each eco_desarrollos}}
				<div class="marco-entidad neuromorph verde{{#if estaPendiente}} pendiente{{/if}}"
					style="background-image: url({{avatar}})" id="{{_id}}">
					<div class="overlay"></div>
					<div class="titulo">
						{{titulo}}
					</div>
					<div class="banda">

						<div class="comuna">
							<div class="comunaing">Comuna</div>
							<div class="comunai">{{comuna}}</div>
						</div>
						<div class="participante">
							<div class="comunaing">N° Participantes</div>
							<div class="comunai">{{participantes}}</div>
						</div>
						<div class="direcciones">
							<div class="comunaing">Direccion</div>
							<div class="comunai">{{direccion}}</div>
						</div>
					</div>
				</div>

				{{/each}}
			</div>
		</div>
		<div class="detalle custom-scroll">
			{{#if editando}}
			<div class="formulario">
				<div class="entrada{{#if errores.titulo}} is-invalid{{/if}}">
					<span>Título</span>
					{{#if errores.titulo}}<span class="mensaje"> (*{{errores.titulo}})</span>{{/if}}
					<input class="campo" id="input-titulo" type="text" required="true" aria-label="Título"
						value="{{ecoDesarrollo.titulo}}" placeholder="Título">
				</div>
				<div class="entrada{{#if errores.direccion}} is-invalid{{/if}}">
					<span>Dirección</span>
					{{#if errores.direccion}}<span class="mensaje"> (*{{errores.direccion}})</span>{{/if}}
					<input class="campo" id="input-direccion" type="text" required="true" aria-label="Dirección"
						value="{{ecoDesarrollo.direccion}}" placeholder="Dirección">
				</div>
				<div class="entrada{{#if errores.comuna}} is-invalid{{/if}}">
					<span>Comuna</span>
					{{#if errores.comuna}}<span class="mensaje"> (*{{errores.comuna}})</span>{{/if}}
					{{> inputAutocomplete settings=settingsComunas id="input-comuna" class="campo" placeholder="Comuna..."
					autocomplete="off" value=ecoDesarrollo.comuna required="true" aria-label="Comuna" }}
				</div>
				<div class="entrada{{#if errores.descripcion}} is-invalid{{/if}}">
					<span>Descripción</span>
					{{#if errores.descripcion}}<span class="mensaje"> (*{{errores.descripcion}})</span>{{/if}}
					<textarea class="campo" id="input-descripcion" required="true" aria-label="Descripción"
						value="{{ecoDesarrollo.descripcion}}" rows="4"></textarea>
				</div>
				<div class="entrada documentos-picker{{#if errores.tieneDocumentos}} is-invalid{{/if}}">
					<div class="archivo">
						<div class="marco-upload">
							<i class="material-icons">attachment</i><br />
							<p>Tomar / Arrastrar<br />Documento</p>
							<div class="marco-drop"></div>
						</div>
						<input id="upload-documento" type="file" style="display: none">
						<input id="input-tieneDocumentos" class="campo" style="display: none;" required="true"
							aria-label="Algun documento" value="{{ecoDesarrollo.tieneDocumentos}}">
					</div>
					<div class="documentos">
						{{#each documentos}}
						<div class="archivo" id={{_id}}>
							<div class="marco-documento">
								<p class="nombre" id="{{_id}}">{{link}}</p>
								<div class="eliminar" id="{{_id}}">
									<i class="material-icons">clear</i>
									<span>Eliminar</span>
								</div>
							</div>
						</div>
						{{else}}
						<h3>{{#if errores.tieneDocumentos}}<small><span class="mensaje">
									(*{{errores.tieneDocumentos}})</span></small><br />{{/if}}No hay documentos</h3>
						{{/each}}
					</div>
				</div>
				<div class="entrada imagenes-picker{{#if errores.tieneImagenes}} is-invalid{{/if}}">
					<div class="camara">
						<div class="marco-upload">
							<i class="material-icons">photo_camera</i><br />
							<p>Tomar / Arrastrar<br />fotografía</p>
							<div class="marco-drop"></div>
						</div>
						<input id="upload-image" type="file" style="display: none">
						<input id="input-tieneImagenes" class="campo" style="display: none;" required="true" aria-label="Imagen"
							value="{{ecoDesarrollo.tieneImagenes}}">
					</div>
					<div class="imagenes">
						{{#each imagenes}}
						<div class="imagen" id={{_id}}>
							<div class="marco-imagen">
								<img src="{{imagen}}">
								<div class="eliminar" id="{{_id}}">
									<i class="material-icons">clear</i>
									<span>Eliminar</span>
								</div>
							</div>
						</div>
						{{else}}
						<h3>{{#if errores.tieneImagenes}}<small><span class="mensaje">
									(*{{errores.tieneImagenes}})</span></small><br />{{/if}}No hay Imágenes</h3>
						{{/each}}
					</div>
				</div>
				<div class="flex">
					<div class="neuromorph boton redondo verde" id="btn-cancelar">
						<i class="material-icons">clear</i>
					</div>
					<div class="neuromorph boton redondo verde" id="btn-guardar">
						<i class="material-icons">save</i>
					</div>
				</div>
			</div>
			{{else}}
			{{#with ecoDesarrollo}}
			<div class="presentacion">
				<div class="ultima-actividad"><i>ultimaActividad: </i>{{formatoFecha ultimaActividad 'DD/MMM/YYYY HH:mm'}}</div>
				<div class="titulo-presentacion">Imagenes</div>
				<div class="entrada imagenes-picker">
					<div class="imagenes">
						{{#each imagenes}}
						<div class="imagen" id={{_id}}>
							<div class="marco-imagen">
								<img src="{{imagen}}">
							</div>
						</div>
						{{else}}
						<h3>No hay Imágenes</h3>
						{{/each}}
					</div>
				</div>
				<div class="titulo-presentacion">Participantes</div>
				<div class="participantes">
					{{#each participantes}}
					<div class="avatar-participante">
						{{#if imagen}}
						<img src="{{imagen}}">
						{{else}}
						<div class="no-imagen">{{iniciales}}</div>
						{{/if}}
						<span>{{nombre}}</span>
						{{#if isOwner}}
						<i class="material-icons">star</i>
						{{/if}}
					</div>
					{{/each}}
				</div>
				<div class="titulo-presentacion">Total en donaciones</div>
				<div class="donaciones">
					<i class="material-icons">request_quote</i>
					<div class="cantidad">
						<small>CLP </small>$ {{donaciones}}<small> M</small>
					</div>
				</div>
				<div class="titulo-presentacion">Reseña histórica</div>
				<div class="resena">
					<p>{{ecoDesarrollo.descripcion}}</p>
				</div>
				<div class="titulo-presentacion">Solicitar unirse</div>
				<div class="neuromorph boton redondo verde">
					<i class="material-icons">login</i>
				</div>
			</div>
			{{/with}}
			{{/if}}
		</div>
	</div>
</template>