.contenedor-desarrollos {
	display: flex;
	flex-wrap: wrap;
	padding-left: 10px;
	width: 100%;

	.marco-entidad {
		position: relative;
		width: 222px;
		height: 222px;
		background-size: cover;
		margin-right: 20px;
		margin-bottom: 20px;
		border-radius: 8px;

		.overlay {
			display: block;
			widows: 222px;
			height: 222px;
			background-color: rgba(0, 0, 0, 0.2);
			border-radius: 8px;
		}

		.titulo {
			position: relative;
			top: -210px;
			left: 10px;
			background-color: yellow;
			color: black;
			border-radius: 3px;
			font-size: 14px;
			width: 200px;
			padding: 3px 8px;
			font-weight: bolder;
		}

		.banda {
			position: relative;
			top: -131px;
			height: 110px;
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
			background-color: rgba(0, 0, 0, 0.7);
			color: white;

			.comuna {
				padding: 4px 8px;
				.comunaing {
					font-weight: bolder;
				}

				.comunai {
					font-size: 12px;
				}
			}

			.participantes {
				position: relative;
				top: -102px;
				right: -150px;
				.cantidad {
					width: 50px;
					text-align: center;
					font-size: 36px;
				}
				small {
					position: relative;
					font-size: 12px;
					top: -40px;
					left: -8px;
				}
			}

			.participante {
				position: relative;
				top: -40px;
				right: -120px;

				span {
					padding-left: 4px;
					font-size: 9px;
				}

				p {
					margin-top: -6px;
					font-size: 14px;
				}
			}
			.direcciones {
				padding: 4px 8px;
				position: relative;
				top: -25px;
				.comuna  {
					font-weight: bolder;
				}
				.comunai {
					font-size: 14px;
				}
				
			}

		}
	}
}	

