<template name="eco_desarrollos">
	<div class="navegacion-atras">
		<i class="material-icons">arrow_back_ios</i>
	</div>
	<div class="titulo-grilla">
		<div class="contenido-titulo">
			{{#if enListado}}
			<p>ECO_Desarrollos <small>({{cantidad}})</small></p>
			<button class="btn" id="btn-nuevo">
				<i class="material-icons">add </i>
				<span>Nuevo</span>
			</button>
			{{else}}
			<p>
				{{#if ecoDesarrollo.titulo}}{{ecoDesarrollo.titulo}}{{else}}Nuevo ECO_Desarrollo
				{{/if}}{{#if editando}}<small>(editando) </small>{{/if}}</p>
			{{#if ecoDesarrollo.esPropia}}
			{{#unless editando}}
			<button class="btn" id="btn-editar">
				<i class="material-icons">edit</i><span>Editar</span>
			</button>
			{{/unless}}
			{{/if}}
			{{/if}}
		</div>
	</div>
	<div class="carrousel grilla">
		<div class="grilla">
			<div class="contenedor-desarrollos">
				{{#each eco_desarrollos}}
				<div class="marco-desarrollo neuromorph verde" style="background-image: url({{imagen}})" id="{{_id}}">
					<div class="overlay"></div>
					<div class="titulo">
						{{titulo}}
					</div>
					<div class="banda">

						<div class="comuna">
							<div class="comunaing">Comuna</div>
							<div class="comunai">{{comuna}}</div>
						</div>
						<div class="participante">
							<div class="comunaing">N° Participantes</div>
							<div class="comunai">{{participantes}}</div>
						</div>
						<div class="direcciones">
							<div class="comunaing">Direccion</div>
							<div class="comunai">{{direccion}}</div>
						</div>
					</div>
				</div>

				{{/each}}
			</div>
		</div>
		<div class="detalle">
			{{#if editando}}
			<div class="formulario">
				<div class="entrada">
					<span>Título</span><br />
					<input class="campo" id="input-titulo" type="text" value="{{ecoDesarrollo.titulo}}" placeholder="Título">
				</div>
				<div class="entrada">
					<span>Dirección</span>
					<input class="campo" id="input-direccion" type="text" value="{{ecoDesarrollo.direccion}}"
						placeholder="Dirección">
				</div>
				<div class="entrada">
					<span>Comuna</span>
					<input class="campo autocomplete " id="input-comuna" type="text" value="{{ecoDesarrollo.comuna}}"
						placeholder="Comuna">
				</div>
				<div class="entrada">
					<span>Descripción</span>
					<textarea class="campo" id="input-descripcion" value="{{ecoDesarrollo.descripcion}}" rows="4"></textarea>
				</div>
				<div class="entrada documentos-picker">
						<div class="archivo">
							<div class="marco-upload">
								<i class="material-icons">attachment</i><br />
								<p>Tomar / Arrastrar<br />Documento</p>
								<div class="drop-texto"></div>
								<input id="upload-documento" type="file" style="display: none">
							</div>
						</div>
						<div class="documentos">
							{{#each documentos}}
							<div class="archivo" id={{_id}}>
								<div class="marco-documento">
									<img src="{{nombre}}">
									<p class="nombre" id="{{_id}}">{{link}}</p>
									<div class="eliminar" id="{{_id}}">
										<i class="material-icons">clear</i>
										<span>Eliminar</span>
									</div>
								</div>
							</div>
							{{else}}
								<h3>No hay documentos</h3>
							{{/each}}
						</div>
					<input type="file" id="upload-documento" style="display: none;">
				</div>
				<div class="entrada imagenes-picker">
					<div class="camara">
						<div class="marco-upload">
							<i class="material-icons">photo_camera</i><br />
							<p>Tomar / Arrastrar<br />fotografía</p>
							<div class="drop-texto"></div>
						</div>
						<input id="upload-image" type="file" style="display: none">
					</div>
					<div class="imagenes">
						{{#each imagenes}}
						<div class="imagen" id={{_id}}>
							<div class="marco-imagen">
								<img src="{{imagen}}">
								<div class="eliminar" id="{{_id}}">
									<i class="material-icons">clear</i>
									<span>Eliminar</span>
								</div>
							</div>
						</div>
						{{else}}
						<h3>No hay Imágenes</h3>
						{{/each}}
						<input type="file" id="upload-image" style="display: none;">
					</div>
				</div>
				<div class="flex">
					<div class="neuromorph boton redondo verde">
						<i class="material-icons">clear</i>
					</div>
					<div class="neuromorph boton redondo verde" id="btn-guardar">
						<i class="material-icons">save</i>
					</div>
				</div>
			</div>
			{{else}}
			{{#with ecoDesarrollo}}
			<div class="presentacion">

				<div class="ultima-actividad"><i>ultimaActividad: </i>{{formatoFecha ultimaActividad 'DD/MMM/YYYY HH:mm'}}</div>
				<div class="titulo-presentacion">Participantes</div>
				<div class="participantes">
					<div class="avatar-participante">
						<img src="/img/avatares/avatar01.png"><br />
						<span>EdUTroN</span>
						<i class="material-icons">star</i>
					</div>
					<div class="avatar-participante">
						<img src="/img/avatares/avatar02.jpg"><br />
						<span>Miriam</span>
					</div>
				</div>
				<div class="titulo-presentacion">Total en donaciones</div>
				<div class="donaciones">
					<i class="material-icons">request_quote</i>
					<div class="cantidad">
						<small>CLP </small>$ {{donaciones}}<small> M</small>
					</div>
				</div>
				<div class="titulo-presentacion">Reseña histórica</div>
				<div class="resena">
					<p>{{ecoDesarrollo.descripcion}}</p>
				</div>
				<div class="titulo-presentacion">Solicitar unirse</div>
				<div class="neuromorph boton redondo verde">
					<i class="material-icons">login</i>
				</div>
			</div>
			{{/with}}
			{{/if}}
		</div>
	</div>
</template>